
<FORM ACTION=":$actioncgi:" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded" NAME="post">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<CENTER>
<TABLE BORDER="0"><TR><TD WIDTH="5%"></TD><TD>
<BGCOLOR="#FFAA00"><B>Add a Contact <I>(enter a member login ID)</I></B>:<INPUT TYPE="TEXT" NAME="id" SIZE="20" MAXLENGTH="64">
<TD>
<FONT SIZE="2" FACE="Verdana"><a href=":$buddy:">Don't know whom to add?</FONT></a>
</TD>  
</TR></TABLE>
<TABLE BORDER="0"><TR><TD WIDTH="5%"></TD><TD>
<TABLE BORDER="6" BORDERCOLOR="#00FFFF" CELLPADDING="0" CELLSPACING="0"><TR><TD>
<TABLE BORDER="0" BGCOLOR="#999900" WIDTH="100%" CELLSPACING="0">
