<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/add.gif" border="0" NAME="add">
<INPUT TYPE="HIDDEN"  NAME="numentries" SIZE="-1" VALUE=":$numentries:">
<INPUT TYPE="IMAGE"  SRC="images/delete.gif" border="0" NAME="delete">
</CENTER>
</FORM>
<FONT FACE="Verdana" SIZE="2">
<DL>
<LI>You must click the checkbox to the left of the entry, if you wish to delete a member.</LI>
<LI>You can only add a member that you have not already added.</LI>
<LI>Certain members may no longer be accessible in your personal group, if they disabled Share Id in their profile, since you last added them to your group.</LI>
</DL>
</FONT>

</BODY>
</HTML>

