Content-type: text/html



<HTML>
<HEAD>
<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:">  -->
<BASE href="http://www.hotdiary.com/">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>
<BODY BACKGROUND="images/hdstdtile.gif">
<CENTER>
<P><h3> :$label: </h3> 
</P>
</CENTER>
<FORM ACTION=":$actioncgi:" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded" NAME="post">
<INPUT TYPE="HIDDEN"  NAME="login" SIZE="-1" VALUE=":$login:">

<TABLE BORDER="1" WIDTH="100%">
	
<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF">First Name</TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="fname" SIZE="20" 
MAXLENGTH="20"></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF">M/Last Name</TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="lname" SIZE="20" 
MAXLENGTH="20"></TD>
</TR>

<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF">ZipCode</TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="zipcode" SIZE="20" 
MAXLENGTH="20"></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF">Date of Expiry</TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="doe" SIZE="20" 
MAXLENGTH="20"></TD>
</TR>

<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF">Card Number</TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="cardno" SIZE="20" 
MAXLENGTH="20"></TD>
</TR>
</TABLE>

<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/mcard.gif" border="0" NAME="mcard">
<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
<INPUT TYPE="IMAGE"  SRC="images/visa.gif" border="0" NAME="visa">
</CENTER>
</FORM>
</BODY>
</HTML>

