<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<meta name=keywords content="portal free calendar server organizer group reminder diary download planner memo to-do to do schedule appointment list instant b2b business2business business-to-business business team project corporate web intranet asp online office contact manager conflict resolution party secure ecommerce e-commerce meeting event publish ISP hosting news calandar submit press release promotion service public calender community address book organiser pager fax daily monthly weekly yearly personal PIM collaborate virtual communities">
<meta name=description content="Free Internet Organizer For Individuals And Businesses. Includes Calendar, Contact Manager, B2B Planner, File Planner, Party Planner, and Communication using Pager, Fax, and Email">
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="http://www.hotdiary.com/cgi-bin/execcomeventsadd.cgi" METHOD="POST">

<CENTER>
<h2>Add A Community Event</h2>
<h4>For US $10</h4>
<h5>(Event content is being monitored. We encourage you to add events correctly!)</h5>
</CENTER>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="ffffff" WIDTH="100%">

<TR BGCOLOR="ffffff" WIDTH="100%">

<TD WIDTH="10%">
&nbsp;
</TD>

<TD WIDTH="80%">

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="ffffff">

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Member Login<BR><FONT SIZE=1>(Not Published)</FONT></FONT> 
</TD>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><INPUT TYPE=TEXT SIZE=20 NAME=login></FONT> 
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Password<BR><FONT SIZE=1>(Not Published)</FONT></FONT> 
</TD>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><INPUT TYPE=PASSWORD SIZE=20 NAME=password></FONT>
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Event Category</FONT> 
</TD>
<TD COLSPAN="2" BGCOLOR="ffffff">
<FONT FACE=Verdana SIZE=3>
<SELECT NAME=category>
<OPTION>Arts and Entertainment
<OPTION>Science and Technology
<OPTION>News and Media
<OPTION>Education
<OPTION>Sports and Recreation
<OPTION>Business and Economy
<OPTION>Travel and Leisure
<OPTION>Government
<OPTION>Health and Fitness
<OPTION>Other
</SELECT>
</FONT>
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Event Title</FONT> 
</TD>
<TD COLSPAN="2" BGCOLOR="ffffff">
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=subject>
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT FACE="Verdana">Event Details</FONT>
</TD>
<TD BGCOLOR="ffffff">
<TEXTAREA NAME="desc" ROWS="5" COLS="40"></TEXTAREA>
</TD>
</TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="ffffff" WIDTH="50%">

<TR WIDTH="100%"> 
<TD ALIGN="LEFT" WIDTH="15%" COLSPAN="1">
<FONT SIZE="3" FACE="Verdana">Date</FONT>
</TD>
<TD BGCOLOR="ffffff" COLSPAN="9" WIDTH="85%">&nbsp;</TD>
</TR>

<TR BGCOLOR="ffffff"> 
<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="10%">&nbsp;</TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="15%"><FONT FACE="Verdana"><FONT SIZE="3">Month</FONT></FONT></TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT FACE="Verdana"><FONT SIZE="3">Day</FONT></FONT></TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT SIZE="3"><FONT FACE="Verdana">Year</FONT></FONT></TD>
</TR>

<TR>
<TD WIDTH="10%" >&nbsp;</TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="10%"><FONT SIZE="2"><SELECT NAME=month>
<OPTION VALUE=1>Jan</OPTION><OPTION VALUE=2>Feb</OPTION>
<OPTION VALUE=3>Mar</OPTION><OPTION VALUE=4>Apr</OPTION>
<OPTION VALUE=5>May</OPTION><OPTION VALUE=6>Jun</OPTION>
<OPTION VALUE=7>Jul</OPTION> <OPTION VALUE=8>Aug</OPTION>
<OPTION VALUE=9>Sept</OPTION> <OPTION VALUE=10>Oct</OPTION>
<OPTION VALUE=11>Nov</OPTION><OPTION VALUE=12>Dec</OPTION>
</SELECT>
</FONT>
</TD>

<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="5%"><FONT SIZE="2"><SELECT NAME=day>
<OPTION>1</OPTION><OPTION>2</OPTION> <OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION> <OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION> <OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION> <OPTION>12</OPTION>
<OPTION>13</OPTION><OPTION>14</OPTION> <OPTION>15</OPTION>
<OPTION>16</OPTION><OPTION>17</OPTION> <OPTION>18</OPTION>
<OPTION>19</OPTION><OPTION>20</OPTION> <OPTION>21</OPTION>
<OPTION>22</OPTION><OPTION>23</OPTION> <OPTION>24</OPTION>
<OPTION>25</OPTION><OPTION>26</OPTION> <OPTION>27</OPTION>
<OPTION>28</OPTION><OPTION>29</OPTION> <OPTION>30</OPTION>
<OPTION>31</OPTION>
</SELECT>
</FONT>
</TD>

<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT SIZE="2"><SELECT NAME=year>
<OPTION>1999</OPTION>
<OPTION>2000</OPTION>
<OPTION>2001</OPTION>
<OPTION>2002</OPTION>
<OPTION>2003</OPTION>
<OPTION>2004</OPTION>
<OPTION>2005</OPTION>
<OPTION>2006</OPTION>
<OPTION>2007</OPTION>
<OPTION>2008</OPTION>
<OPTION>2010</OPTION>
</SELECT>
</FONT>
</TD>

</TR>

<TR BGCOLOR="ffffff">

<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="10%">&nbsp;</TD>
<TD BGCOLOR="ffffff"  ALIGN="LEFT" WIDTH="15%"><FONT SIZE="3"><FONT FACE="Verdana">Hour</FONT></FONT></TD>
<TD BGCOLOR="ffffff"  ALIGN="LEFT" WIDTH="15%"><FONT FACE="Verdana"><FONT SIZE="3">Min</FONT></FONT></TD>
<TD BGCOLOR="ffffff"  ALIGN="LEFT" WIDTH="15%"><FONT SIZE="3"><FONT FACE="Verdana">Meridian</FONT></FONT></TD>
</TR>

<TR>
<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="10%">&nbsp;</TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT SIZE="2"><SELECT NAME=hour>
<OPTION>1</OPTION><OPTION>2</OPTION><OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION><OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION><OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION><OPTION>12</OPTION>
</SELECT>
</FONT>
</TD>

<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT SIZE="2">
<SELECT NAME=min>
<OPTION>0</OPTION>
<OPTION>10</OPTION>
<OPTION>20</OPTION>
<OPTION>30</OPTION>
<OPTION>40</OPTION>
<OPTION>50</OPTION>
</SELECT>
</FONT>
</TD>

<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><P><FONT SIZE="2"><SELECT NAME=meridian>
<OPTION>PM </OPTION>
<OPTION>AM </OPTION>
</SELECT>
</FONT>
</TD>

</TR>

<TR BGCOLOR=ffffff>

<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="10%">&nbsp;</TD>
<TD BGCOLOR="ffffff"  ALIGN="LEFT" WIDTH="15%"><FONT SIZE="3"><FONT FACE="Verdana">Zone</FONT></FONT></TD>

</TR>

<TR>

<TD BGCOLOR="ffffff" ALIGN="LEFT"  WIDTH="10%">&nbsp;</TD>
<TD BGCOLOR="ffffff" ALIGN="LEFT" WIDTH="15%"><FONT SIZE="2"><SELECT NAME=zone>
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3B>Brazil</OPTION>
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</FONT>
</TD>

</TR>

</TABLE>


<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="ffffff">

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Venue/Site/Location</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=venue>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff"> 
<FONT SIZE="3" FACE="Verdana">Street</FONT> 
</TD>
<TD BGCOLOR="ffffff">
<INPUT TYPE="TEXT" SIZE="30" MAXLENGTH="64" NAME=street>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">City</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=city>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">State</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=state>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Zipcode</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=zipcode>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff"> 
<FONT SIZE="3" FACE="Verdana">Country</FONT> 
</TD>
<TD BGCOLOR="ffffff">
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=country>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Contact Person</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="30" MAXLENGTH="64" NAME=person>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Contact Phone</FONT> 
</TD>
<TD>
<INPUT TYPE="TEXT" SIZE="20" MAXLENGTH="64" NAME=phone>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">Image URL/Banner</FONT><BR>
<FONT SIZE="1" FACE="Verdana">(Add HTML Snippet)</FONT>
</TD>
<TD>
<TEXTAREA ROWS=5 COLS=40 NAME=banner><a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/comevents.gif"></a></TEXTAREA>
</TD>
</TR>

</TABLE>

<CENTER>
<INPUT TYPE=submit NAME=add VALUE="Add Event">
</CENTER>
                 
</TD>

<TD WIDTH="10%">
&nbsp;
</TD>

</TR>
</TABLE>

<CENTER>
<FONT FACE=Verdana SIZE=2 COLOR=ff0000>If you have made an error while adding an event, send mail to <a href="http://www.hotdiary.com/contact_us.html">this</a>, with your event details, and we will fix the problem for you.</FONT>
</CENTER>

</FORM>
</BODY>
</HTML>
