<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<meta name=keywords content="portal free calendar server organizer group reminder diary download planner memo to-do to do internet schedule appointment list instant b2b business2business business-to-business business team project corporate web intranet asp online office contact manager conflict resolution party secure ecommerce e-commerce meeting event publish ISP hosting news calandar submit press release promotion service public calender community address book organiser pager fax daily monthly weekly yearly personal PIM collaborate virtual communities">
<meta name=description content="Free Internet Organizer For Individuals And Businesses. Includes Calendar, Contact Manager, B2B Planner, File Planner, Party Planner, and Communication using Pager, Fax, and Email">
<meta http-equiv=Content-language content=en-US>
<meta name=robots content="index, follow">
<meta name=revisit-after content="10 days">
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execdogeneric.cgi" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">
:$hiddenvars:

<!--
<INPUT TYPE=HIDDEN SIZE="-1" NAME=pnum VALUE=4>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p1 VALUE=login>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p2 VALUE=password>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p3 VALUE=jp>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=enum VALUE=5>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re0 VALUE=HTTPSUBDIR>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le0 VALUE=hs>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re1 VALUE=CGISUBDIR>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le1 VALUE=rh>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re2 VALUE=SERVER_NAME>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le2 VALUE=vdomain>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re3 VALUE=HDLIC>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le3 VALUE=HDLIC>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re4 VALUE=HTTP_COOKIE>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le4 VALUE=HTTP_COOKIE>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p0 VALUE=ZXhlY3Nob3djb21tZXJjZXBvcnRhbC5jZ2kaaaa>
-->


<CENTER>
<TABLE WIDTH="80%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>

<TD>
<IMG SRC="/images/topoffice.gif" ISMAP USEMAP="#officemap" BORDER=0>
</TD>

</TR>
<!--
<TR>
<TD>
<a href="/">Home</a> - <a href="/quikregister.html">QuikRegister</a> - <a href="/what_is_hotdiary.html">What Is HotDiary</a> - <a href="/press_release.html">Awards & Press</a> - <a href="free_services.html">Free Services</a><BR><BR>
</TD>
</TR>
-->

<TR>
<TD>


<TABLE WIDTH="82%" BORDER=1 BORDERCOLOR=ee0055 CELLPADDING=4 CELLSPACING=0>
<TR>
<TD WIDTH="82%">
<!--
<CENTER>
<a href="/links.html"><FONT FACE=2 COLOR=f04488>Become <FONT COLOR=gold>GoldReward Member</FONT> And Earn Rewards!</FONT></a>
</CENTER>
<BR>
-->

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="95%">
<TR>
<TD WIDTH="36%" VALIGN="TOP"><FONT SIZE="2" FACE="Tahoma, Arial, Helvetica, sans-serif">Member Login:</FONT></TD>
<TD WIDTH="64%"><INPUT TYPE="TEXT" NAME="login" SIZE="18" MAXLENGTH="64"></TD>
</TR>
<TR>
<TD WIDTH="36%"><FONT SIZE="2" FACE="Tahoma, Arial, Helvetica, sans-serif">Password:</FONT></TD>
<TD WIDTH="64%"><INPUT TYPE="PASSWORD" NAME="password" SIZE="18"></TD>
</TR>
<!--
<TR>
<TD COLSPAN="2"><CENTER><FONT SIZE="2" FACE="Tahoma, Arial, Helvetica, sans-serif"><a href="forgotpasswd.html">Lost Password? Click here!</a></FONT></CENTER></TD>
</TR>
-->
<TR>
<TD COLSPAN="2">
<CENTER>
<P></P>

<P><INPUT TYPE="SUBMIT" NAME="Submit3" VALUE="Submit">
<BR><BR>
<!--
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE=2>
<a href="http://hotdiary.com/jiveit_website.html">JiveIt! On My Home Page</a><BR><BR>
<a href="/wordlist.html">Download WordIt! English Diary</a>
</FONT>
-->

</CENTER>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
</TR>

</TABLE>

</CENTER>
<IMG SRC="/images/image115.gif">
<IMG SRC="/images/image116.gif">
<IMG SRC="/images/image117.gif">
<IMG SRC="/images/image118.gif">
<IMG SRC="/images/image119.gif">


<MAP name="officemap">
<AREA SHAPE=RECT COORDS="9,10 56,39" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="158,7 254,37" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="351,53 423,82" href="/signin.html" ALT="Login To HotDiary">
<AREA SHAPE=RECT COORDS="19,39 323,102" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="20,105 209,163" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="215,162 323,177" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="210,103 489,160" href="/go_portal.html" ALT="JazzIt! Portal Management Tools">
<AREA SHAPE=RECT COORDS="6,164 213,178" href="/mydowntown.html" ALT="JazzIt! Portal Management Tools">
<AREA SHAPE=RECT COORDS="7,180 171,278" href="/mydowntown.html" ALT="Business-To-Business Planning">
<AREA SHAPE=RECT COORDS="175,204 221,280" href="/mydowntown.html" ALT="Business-To-Business Planning">
<AREA SHAPE=RECT COORDS="174,177 357,205" href="/jiveit_website.html" ALT="JiveIt! Site Builder">
<AREA SHAPE=RECT COORDS="233,237 353,259" href="/quikregister.html" ALT="Enter Your Email & Register">
<AREA SHAPE=RECT COORDS="369,180 496,298" href="/partner_with_us.html" ALT="Partnership Alliances">
</MAP>

</FORM>

</BODY>
</HTML>
