<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<meta name=keywords content="portal free calendar server organizer group reminder diary download planner memo to-do to do internet schedule appointment list instant b2b business2business business-to-business business team project corporate web intranet asp online office contact manager conflict resolution party secure ecommerce e-commerce meeting event publish ISP hosting news calandar submit press release promotion service public calender community address book organiser pager fax daily monthly weekly yearly personal PIM collaborate virtual communities">
<meta name=description content="Free Internet Organizer For Individuals And Businesses. Includes Calendar, Contact Manager, B2B Planner, File Planner, Party Planner, and Communication using Pager, Fax, and Email">
<meta http-equiv=Content-language content=en-US>
<meta name=robots content="index, follow">
<meta name=revisit-after content="10 days">
</HEAD>

<BODY BGCOLOR=ffffff>


<FORM ACTION="/cgi-bin/execdogeneric.cgi" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">

:$hiddenvars:

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Download My JiveIt! Templates</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>




<CENTER>

<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=5 WIDTH="80%">

<TR BGCOLOR=1f1f7f>
<TD ALIGN=CENTER>
<FONT FACE=Verdana COLOR=ffffff SIZE=4>
<b>File</b>
</FONT>
</TD>
<TD ALIGN=CENTER>
<FONT FACE=Verdana COLOR=ffffff SIZE=4>
<b>Description</b>
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$apphome:
<!--
<a href="/rep/:$jp:/portaltemplate.txt">Application Home</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This template is used when the subject logs into the JiveIt! system
to display the home page of all the applications available. This page
is typically seen when users press Home link while navigating inside
an active session.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$jiveit:
<!--
<a href="/rep/:$jp:/jiveit.txt">JiveIt Home</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the sign-in page of any JiveIt! website. It is typically called
when a frame pointing to http://www.hotdiary.com/index.cgi?jp=buddie
is invoked. In this case "buddie" is just an example.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$dailycalendar:
<!--
<a href="/rep/:$jp:/dailycalendar.txt">Daily Calendar</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for the Daily Calendar. It's fairly complex,
and powerful. So it may require some skills to change this one.
Note that this template is used when you click on the view by
Day hyperlink.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$weeklycalendar:
<!--
<a href="/rep/:$jp:/weeklycalendar.txt">Weekly Calendar</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for the Weekly Calendar. It's fairly complex,
and powerful. So it may require some skills to change this one.
Note that this template is used when you click on the view by
Week hyperlink.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$monthlycalendar:
<!--
<a href="/rep/:$jp:/monthlycalendar.txt">Monthly Calendar</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for the Monthly Calendar. It's fairly complex,
and powerful. So it may require some skills to change this one.
Note that this template is used when you click on the view by
Month hyperlink.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$memo:
<!--
<a href="/rep/:$jp:/memo.txt">Memo Manager</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for Memo Manager.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editmemo:
<!--
<a href="/rep/:$jp:/editmemo.txt">Edit Memo</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing a memo.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$diarypad:
<!--
<a href="/rep/:$jp:/diarypad.txt">Diary Pad</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for Diary Pad.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editdiarypad:
<!--
<a href="/rep/:$jp:/editdiarypad.txt">Edit Diary Pad</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing notes in Diary Pad.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
<!--
<a href="/rep/:$jp:/contactmanager.txt">Contact Manager</a>
-->
:$contactmanager:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for Contact Manager.
</FONT>
</TD>
</TR>


<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
<!--
<a href="/rep/:$jp:/addcontact.txt">Add A Contact</a>
-->
:$addcontact:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for adding a contact in Contact Manager.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editcontact:
<!--
<a href="/rep/:$jp:/editcontact.txt">Edit A Contact</a>
-->
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing a contact in Contact Manager.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
<!--
<a href="/rep/:$jp:/printcontacts.txt">Print All Contacts</a>
-->
:$printcontacts:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for printing report on all contacts.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$sendcontactfax:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for sending a fax to contacts.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$mydowntown:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for my downtown.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$myprofile:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for my profile.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$myrewards:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for my rewards.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$mycalsettings:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for my calendar settings.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$premiumchannel:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for premium channel.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$partyplanner:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for party planner.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editpartyplanner:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing party planner.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$showpartyplanner:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for showing party planner entry.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$pcalcolor:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for setting calendar color.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$creategroup:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for creating groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$managegroup:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for managing groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$searchgroup:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for searching groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editmanagegroups:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing managed groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$editcreategroups:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for editing created groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$subscribegroups:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for subscribing to groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$displaygroups:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for displaying groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$mygroups:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for my groups.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$createmerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for creating merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$managemerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for managing merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$searchmerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for searching merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$displaymerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for displaying merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$displaymgmerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for displaying manage merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$subscribemerged:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for displaying subscribe merged.
</FONT>
</TD>
</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
:$register:
</FONT>
</TD>
<TD>
<FONT FACE=Verdana SIZE=2>
This is the template for displaying register.
</FONT>
</TD>
</TR>


</TABLE>

</CENTER>



</FORM>

</BODY>
</HTML>
