<!--

(C) Copyright 1997-2000 HotDiary Inc.

 This software is confidential copyrighted information of HotDiary and
 title to all copies is retained by HotDiary and/or its licensors.
 Licensee shall not modify, decompile, disassemble, decrypt, extract,
 or otherwise. This software may not be leased, assigned, or sublicensed,
 in whole or in part.

Information Common To All Templates

- If you are viewing this page using the View Source utility
of the browser, you will see information for a specific session
as opposed to the generic template. So this may not be the
best way to view the template. We suggest that you download
the template using JiveIt! admin utility.

- Please download this template on a regular basis to make sure
you have taken advantage of new applications that HotDiary
introduces on a regular basis.

- You can customize this template to add your own structure
and look n feel. These could include your own images, layout,
style, fonts, color, java script, java, or even custom links. You
can pass HotDiary variables as parameters to your custom links.
This may help you to build seemless extensions to HotDiary and blend it
more easily into your functional environment.

- After you are done with customization, you can upload the
template using the Admin link on your JiveIt! site. After you
login into your admin account as an administrator, click the
upload template link to upload the template. (For those of you
who have customized the JiveIt Home template, make sure you
preserve the Admin link. This will help you to administer
your JiveIt! site more easily.)

- Be careful with our link tags and parameters! As long as you
keep those unharmed, you can move things around and design
it using your favorite HTML authoring tool

- All hotdiary variables are in the format :$var:, where var is
the variable.


Welcome To The Edit Memo Template. (Last Updated: Mar. 26, 2000)

-->


<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.jsp" METHOD="POST" :$formenc:>
:$hiddenvars:
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Memo Manager</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execproxylogout:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execshowtopcal:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jintranetwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jfeatures.html&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<BR>
<CENTER>
<FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.jsp?p0=:$execaddmemo:&p1=biscuit&p2=jp&p3=g&pnum=4&g=:$g:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Add New Memo</a></FONT>
</CENTER>

<BR>
<BR>
<CENTER>
<TABLE WIDTH="60%" CELLPADDING=0 CELLSPACING=5>
<TR VALIGN=TOP>
<TD COLSPAN=2 ALIGN=CENTER>
<FONT FACE=Verdana SIZE=4>:$label2:</FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Subject</FONT>
</TD>
<TD ALIGN=LEFT>
<INPUT TYPE=TEXT NAME=subject VALUE=":$subject:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Description</FONT>
</TD>
<TD ALIGN=LEFT>
<!--
<INPUT TYPE=TEXT NAME=desc VALUE=":$desc:">
-->
<FONT FACE=Verdana SIZE=3>
<TEXTAREA NAME=desc ROWS=20 COLS=55>:$desc:</TEXTAREA>
</FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Priority</FONT>
</TD>
<TD ALIGN=LEFT> <FONT SIZE="2">
<SELECT NAME=priority>
<OPTION SELECTED>:$priority:</OPTION>
<OPTION>1</OPTION>
<OPTION>2</OPTION>
<OPTION>3</OPTION>
<OPTION>4</OPTION>
<OPTION>5</OPTION>
</SELECT>
</FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Status</FONT>
</TD>
<TD ALIGN=LEFT> <FONT SIZE="2">
<SELECT NAME=status>
<OPTION SELECTED>:$status:</OPTION>
<OPTION>Done</OPTION>
<OPTION>Undone</OPTION>
</SELECT>
</FONT>
</TD>
</TR>

<TR>
<TD><FONT FACE="Verdana">Due Date</FONT></TD>
<TD>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0">
<TR>
<TD>
<FONT SIZE="2"><SELECT NAME=month>
<OPTION SELECTED>:$month:</OPTION>
<OPTION VALUE=1>1</OPTION><OPTION VALUE=2>2</OPTION>
<OPTION VALUE=3>3</OPTION><OPTION VALUE=4>4</OPTION>
<OPTION VALUE=5>5</OPTION><OPTION VALUE=6>6</OPTION>
<OPTION VALUE=7>7</OPTION> <OPTION VALUE=8>8</OPTION>
<OPTION VALUE=9>9</OPTION> <OPTION VALUE=10>10</OPTION>
<OPTION VALUE=11>11</OPTION><OPTION VALUE=12>12</OPTION>
</SELECT>
</FONT>
</TD>

<TD><FONT SIZE="2">
<SELECT NAME=day>
<OPTION SELECTED>:$day:</OPTION>
<OPTION>1</OPTION><OPTION>2</OPTION> <OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION> <OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION> <OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION> <OPTION>12</OPTION>
<OPTION>13</OPTION><OPTION>14</OPTION> <OPTION>15</OPTION>
<OPTION>16</OPTION><OPTION>17</OPTION> <OPTION>18</OPTION>
<OPTION>19</OPTION><OPTION>20</OPTION> <OPTION>21</OPTION>
<OPTION>22</OPTION><OPTION>23</OPTION> <OPTION>24</OPTION>
<OPTION>25</OPTION><OPTION>26</OPTION> <OPTION>27</OPTION>
<OPTION>28</OPTION><OPTION>29</OPTION> <OPTION>30</OPTION>
<OPTION>31</OPTION>
</SELECT>
</FONT> 
</TD>
<TD>
<FONT SIZE="2">
<SELECT NAME=year>
<OPTION SELECTED>:$year:</OPTION>
<OPTION>1998</OPTION>
<OPTION>1999</OPTION>
<OPTION>2000</OPTION>
<OPTION>2001</OPTION>
<OPTION>2002</OPTION>
<OPTION>2003</OPTION>
<OPTION>2004</OPTION>
<OPTION>2005</OPTION>
<OPTION>2006</OPTION>
<OPTION>2007</OPTION>
<OPTION>2008</OPTION>
<OPTION>2009</OPTION>
<OPTION>2010</OPTION>
</SELECT>
</FONT>
</TD>

</TR>
</TABLE>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD COLSPAN=2 ALIGN=CENTER>
<FONT FACE=Verdana SIZE=3><INPUT TYPE=SUBMIT NAME=save VALUE=Save></FONT>
</TD>
</TR>
</TABLE>
</CENTER>

</FONT>
</FORM>
</BODY>
</HTML>
