<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:"> -->

<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<BASE HREF="http://www.hotdiary.com/">
<!-- <BODY BACKGROUND="images/pad.gif"> -->
<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execsearchbuddies.cgi" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">

<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<P><TABLE CELLSPACING="0" >
<TR><TD WIDTH="35%"><FONT SIZE="1"><i>Welcome :$login:</i></FONT></TD>
<TD WIDTH="85%" COLSPAN="2" ><B>:$label:</B><BR><FONT SIZE="2">:$label1:</FONT><BR></TD>
<TD ALIGN="RIGHT" WIDTH="15%"><a href="/cgi-bin/execdeploypage.cgi?biscuit=:$biscuit:&page=jhelp.html"><FONT SIZE="2" FACE="Verdana">Help</FONT></a></TD></TR></TABLE>
</P>

<BR><BR>
<CENTER>
<TABLE BORDER="6" WIDTH="20%" CELLPADDING="0" CELLSPACING="0" BGCOLOR="#66FFFF">
<TR>
<TD BGCOLOR="#66FFFF">
<CENTER>
<FONT SIZE="2">Looking for someone to add? </FONT>
</CENTER>
</TD>
</TR>
<TR>
<TD>
<P>
<INPUT TYPE="TEXT" NAME="search" SIZE="20" VALUE="FirstName LastName" MAXLENGTH="128">
<BR>
<CENTER>
<INPUT TYPE="SUBMIT" NAME="Submit" VALUE="Search"> 
</CENTER>
</TD>
</TR>
</TABLE> 
</CENTER>
</FORM>

</BODY>
</HTML>

