<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - Personal & Business Application Service Provider, Reminder Publish Calendar Organizer Address Book PIM Memo To-Do Pager Fax Groups Planner Appointments Free</TITLE>
</HEAD>

<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:"> -->


<!-- <BASE HREF="http://localhost/"> -->
<!-- <BODY BACKGROUND="http://www.hotdiary.com/images/pad.gif"> -->
<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execgeneric.cgi" METHOD="POST" ENCTYPE="application-x/www-form-urlencoded">
<FONT FACE="Verdana" SIZE="1">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<INPUT TYPE="HIDDEN"  NAME="pnum" SIZE="-1" VALUE=":$pnum:">

:$hidden:
</FONT>
</FORM>
</BODY>
</HTML>
