You are about to enter Calendar Chat for a public group.
If you are new to this service, read below for more information.
<P><a href=":$calendarprog:">Click here to proceed to Group Blog Calendar</a>
<FONT SIZE="2" FACE="Verdana">
<P>
The HotDiary Group Blog Calendar service allows you to participate in
a live chat with other members of the group by planning and announcing
any events relevant to the group. If you would like to be a good "netizen"
read the following before you proceed:
<I>
<DL>
<LI>
Calendar Chat is a powerful service that allows you to make any announcements
public to the entire group.
</LI>
<LI>
Note that everyone in the group is reading what you write, so you may want to
follow proper "netiquette" when using this. This will help protect your reputation
on the group.
</LI>
<LI>
Calendar Chat behaves just like chat. It mentions the time and your member login along with the message you write. If you have chosen not to make your ID public, your member login will not appear in the chat window.
</LI>
<LI>
Finally, sit back, relax and enjoy this service. It was designed to make your
group planning more fun, entertaining and lively.
</LI>
</DL>
</I>
</FONT>
