<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>:$label: - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

</HEAD>

<BODY BGCOLOR=ffffff>

<!--
<FORM ACTION="/cgi-bin/:$rh:/execaccessprivatecal.cgi" METHOD="POST" ENCTYPE="multipart/form-data">
-->
<FORM ACTION="/cgi-bin/:$rh:/execaccessmergedcal.cgi" METHOD="POST" :$formenc:>
<INPUT TYPE="HIDDEN"  NAME="g" SIZE="-1" VALUE=":$g:">
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label: (Secure)</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Home of Public and Private Events</FONT><BR>
</CENTER>

<HR BGCOLOR=dddddd size=1>

<BR><BR>

<BR><BR>

<CENTER>
<FONT FACE="Verdana" SIZE="3">Enter Password For Private Group Calendar
<BR><BR>
Group Calendar Id:  :$g:
<BR><BR>
Group Calendar Password: <INPUT TYPE=password name=password>
<BR><BR>
<FONT FACE="Verdana" SIZE="3">
<INPUT TYPE=submit NAME=submit VALUE="Submit">
</FONT>

</FONT>
</CENTER>

</BODY>
</HTML>
