<!-- Begin Month calendar column -->
<TD VALIGN="TOP" ALIGN="LEFT" WIDTH="65%" HEIGHT="100%">
<!-- Begin Vertical Table With 2 Rows -->

<TABLE BORDER=0 BGCOLOR=000000 CELLPADDING=1 CELLSPACING=0 WIDTH="100%" HEIGHT="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING=0 CELLPADDING=1 WIDTH="100%" HEIGHT="100%">
<TR>
<TD>

<TABLE BORDER="0" CELLSPACING=0 CELLPADDING=0 WIDTH="100%" HEIGHT="100%">
<!-- Month Calendar -->
<TR HEIGHT="100%">
<TD HEIGHT="100%">
<TABLE WIDTH="100%" BORDER=0 CELLSPACING=0 CELLPADDING=0>
<!-- Month Label -->
<!--
<TR BGCOLOR="#a0b8f8">
-->
<TR BGCOLOR="#ffffff">
<TD ALIGN="LEFT" BGCOLOR=a0b8c8 COLSPAN="1">
<CENTER>
<!--
<FONT FACE="Verdana" SIZE="3"><a href=":$mntref:" title="View Month">:$monthlbl:</a></FONT>
<FONT FACE="Verdana" SIZE="3"><a href=":$yrref:" title="View Year">:$yrlbl:</a></FONT>
-->
<FONT FACE="Verdana" SIZE="4">:$monthlbl:</FONT>
<FONT FACE="Verdana" SIZE="4">:$yrlbl:</FONT>
</CENTER>
</TD>
<TD ALIGN="RIGHT" BGCOLOR=a0b8c8 COLSPAN="6">
<FONT FACE="Verdana" SIZE="4">
:$func:
</FONT>
</TD>
</TR>
</TABLE>
<!-- Month Label -->
<!--
<TABLE BORDER=1 CELLSPACING=0 CELLPADDING=0 BGCOLOR=dddddd WIDTH="100%">
-->
<TABLE BORDER=1 BORDERCOLOR=000000 BGCOLOR=dddddd WIDTH="100%">
<!-- Weekday Label -->
<TR ROWSPAN="1" BGCOLOR=0f0f5f>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Su</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Mo</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Tu</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">We</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Th</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Fr</FONT></CENTER></TH>
<TH><CENTER><FONT FACE="Verdana" COLOR=ffffff SIZE="3">Sa</FONT></CENTER></TH>
</TR>
<!-- Weekday Label -->
<!-- First Row -->
<TR ROWSPAN="2">
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum00:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc00:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum01:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc01:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum02:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc02:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum03:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc03:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum04:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc04:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum05:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc05:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum06:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc06:</FONT></CENTER></TD>
</TR>
<!-- First Row -->
<!-- Second Row -->
<TR>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum10:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc10:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum11:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc11:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum12:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc12:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum13:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc13:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum14:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc14:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum15:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc15:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum16:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc16:</FONT></CENTER></TD>
</TR>
<!-- Second Row -->
<!-- Third Row -->
<TR>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum20:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc20:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum21:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc21:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum22:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc22:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum23:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc23:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum24:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc24:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum25:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc25:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum26:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc26:</FONT></CENTER></TD>
</TR>
<!-- Third Row -->
<!-- Fourth Row -->
<TR>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum30:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc30:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum31:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc31:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum32:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc32:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum33:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc33:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum34:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc34:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum35:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc35:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum36:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc36:</FONT></CENTER></TD>
</TR>
<!-- Fourth Row -->
<!-- Fifth Row -->
<TR>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum40:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc40:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum41:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc41:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum42:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc42:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum43:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc43:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum44:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc44:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum45:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc45:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum46:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc46:</FONT></CENTER></TD>
</TR>
<!-- Fifth Row -->
<!-- Sixth Row -->
<TR>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum50:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc50:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum51:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc51:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum52:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc52:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum53:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc53:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum54:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc54:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum55:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc55:</FONT></CENTER></TD>
<TD VALIGN="TOP" WIDTH=50 HEIGHT=50><LEFT><FONT FACE="Verdana" COLOR=ad0044 SIZE="5">:$dnum56:</FONT></LEFT><BR><CENTER><FONT FACE="Verdana" SIZE="2">:$mc56:</FONT></CENTER></TD>
</TR>
<!-- Sixth Row -->
</TABLE>
</TD>
<!-- End Month Table -->
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
<!-- End Month calendar column -->
