<!-- Begin Weekly calendar column -->
<TD VALIGN="TOP" ALIGN="LEFT" WIDTH="65%">

<TABLE BORDER=1 CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
<TR WIDTH="100%">
<TD WIDTH="100%">

<TABLE BORDER=0 CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">

<TR>
<TD>
<!-- Begin Weekly View Table -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<!-- Begin Week Label -->
<TR BGCOLOR=a0b8c8 WIDTH="100%">
<TD ALIGN="LEFT">
<FONT FACE="Verdana" SIZE="4">
:$weekstart: - :$weekend:
</FONT>
</TD>
<TD ALIGN="RIGHT">
<FONT FACE="Verdana" SIZE="4">
:$func:
</FONT>
</TD>
</TR>
</TABLE>
</TD>
</TR>

<TR WIDTH="100%">
<TD VALIGN=TOP>

<TABLE BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" BORDER="0" WIDTH="100%">

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="30%">
<a href=:$twin0:><FONT FACE="Verdana" SIZE="3">Sun :$day1:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist1:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist1:
-->
</TD>
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="30%">
<a href=:$twin1:><FONT FACE="Verdana" SIZE="3">Mon :$day2:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist2:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist2:
-->
</TD>
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="30%">
<a href=:$twin2:><FONT FACE="Verdana" SIZE="3">Tue :$day3:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist3:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist3:
-->
</TD>
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="30%">
<a href=:$twin3:><FONT FACE="Verdana" SIZE="3">Wed :$day4:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist4:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist4:
-->
</TD>
</TR>

<TR BGCOLOR=dddddd>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="30%"> 
<A HREF=":$twin4:"><FONT FACE="Verdana" SIZE="3">Thu :$day5:</FONT></A>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist5:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist5:
-->
</TD>
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="30%">
<a href=:$twin5:><FONT FACE="Verdana" SIZE="3">Fri :$day6:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist6:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist6:
-->
</TD>
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="30%">
<a href=:$twin6:><FONT FACE="Verdana" SIZE="3">Sat :$day7:</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$evtlist7:</FONT>
<!--
<SPACER TYPE="HORIZONTAL" SIZE="20">
:$imglist7:
-->
</TD>
</TR>

</TABLE>

</TD>
</TR>

</TABLE>

</TD>
</TR>
</TABLE>

</TD>
