<!-- Begin Day calendar column -->
<TD VALIGN="TOP" ALIGN="LEFT" WIDTH="65%">

<TABLE BORDER=0 BGCOLOR=000000 CELLPADDING=1 CELLSPACING=0 WIDTH="100%" HEIGHT="100%">
<TR>
<TD>

<TABLE BORDER=0 BGCOLOR=a0b8c8 CELLPADDING=1 CELLSPACING=0 WIDTH="100%" HEIGHT="100%">

<!--
<TABLE BORDER=1 BGCOLOR="a0b8c8" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">
-->
<TR WIDTH="100%" HEIGHT="100%">
<TD WIDTH="100%" HEIGHT="100%">

<TABLE BORDER=0 BGCOLOR="a0b8c8" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">

<TR WIDTH="100%">
<TD WIDTH="100%">
<!-- Begin Daily View Table -->
<TABLE BORDER="0" BGCOLOR="a0b8c8" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<!-- Begin Day Label -->
<TR WIDTH="100%">
<TD ALIGN="LEFT" WIDTH="60%">
<FONT FACE="Verdana" SIZE="4">
:$day:
</FONT>
</TD>
<TD ALIGN="RIGHT" WIDTH="40%">
<FONT FACE="Verdana" SIZE="4">
:$func:
</FONT>
</TD>
</TR>
</TABLE>
</TD>
</TR>

<TR WIDTH="100%">
<TD COLSPAN="2">

<TABLE BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" BORDER="0" WIDTH="100%">

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin18:><FONT FACE="Verdana" SIZE="2">&lt; 6:00 AM</FONT></a>
</TD>
<TD ALIGN="LEFT" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist18:</FONT>
</TD>
<!--
<TD VALIGN="TOP" ALIGN="RIGHT" BGCOLOR=dddddd WIDTH="30%">
:$imglist18:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin0:><FONT FACE="Verdana" SIZE="3">6:00 AM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist0:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist0:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin1:><FONT FACE="Verdana" SIZE="3">7:00 AM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist1:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist1:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin2:><FONT FACE="Verdana" SIZE="3">8:00 AM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist2:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist2:
</TD>
-->
</TR>

<TR BGCOLOR=dddddd>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%"> 
<A HREF=":$twin3:"><FONT FACE="Verdana" SIZE="3">9:00 AM</FONT></A>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist3:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist3:
-->
<!--
<IMG SRC="/images/alarm.gif" BORDER="0" WIDTH="20" HEIGHT="20">
<IMG SRC="/images/delevt.gif" BORDER="0" WIDTH="20" HEIGHT="20">
<IMG SRC="/images/showbusy.gif" BORDER="0" WIDTH="20" HEIGHT="20">
<IMG SRC="/images/bday.gif" BORDER="0" WIDTH="20" HEIGHT="20">
&nbsp;
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin4:><FONT FACE="Verdana" SIZE="3">10:00AM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist4:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist4:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin5:><FONT FACE="Verdana" SIZE="3">11:00AM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist5:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist5:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin6:><FONT FACE="Verdana" SIZE="3">12:00PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist6:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist6:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin7:><FONT FACE="Verdana" SIZE="3">1:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist7:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist7:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin8:><FONT FACE="Verdana" SIZE="3">2:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist8:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist8:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin9:><FONT FACE="Verdana" SIZE="3">3:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist9:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist9:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin10:><FONT FACE="Verdana" SIZE="3">4:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist10:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist10:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin11:><FONT FACE="Verdana" SIZE="3">5:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist11:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist11:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin12:><FONT FACE="Verdana" SIZE="3">6:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist12:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist12:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin13:><FONT FACE="Verdana" SIZE="3">7:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist13:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist13:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin14:><FONT FACE="Verdana" SIZE="3">8:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist14:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist14:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin15:><FONT FACE="Verdana" SIZE="3">9:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist15:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="30%">
:$imglist15:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=ffffff WIDTH="20%">
<a href=:$twin16:><FONT FACE="Verdana" SIZE="3">10:00PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist16:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=ffffff WIDTH="30%">
:$imglist16:
</TD>
-->
</TR>

<TR>
<TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR=dddddd WIDTH="20%">
<a href=:$twin17:><FONT FACE="Verdana" SIZE="2">&gt;10:00 PM</FONT></a>
</TD>
<TD ALIGN="LEFT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="80%">
<FONT FACE="Verdana" SIZE="3">:$evtlist17:</FONT>
</TD>
<!--
<TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR=dddddd WIDTH="20%">
:$imglist17:
</TD>
-->
</TR>


</TABLE>

</TD>
</TR>

</TABLE>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
