<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>
<FORM ACTION="/cgi-bin/execlistappts.cgi" METHOD="POST" :$formenc:>

:$hiddenvars:
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="1">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<INPUT TYPE="HIDDEN"  NAME="hs" SIZE="-1" VALUE=":$hs:">
<INPUT TYPE="HIDDEN"  NAME="vdomain" SIZE="-1" VALUE=":$vdomain:">
<INPUT TYPE="HIDDEN"  NAME="jp" SIZE="-1" VALUE=":$jp:">
<INPUT TYPE="HIDDEN"  NAME="g" SIZE="-1" VALUE=":$g:">
<INPUT TYPE="HIDDEN"  NAME="mo" SIZE="-1" VALUE=":$mo:">
<INPUT TYPE="HIDDEN"  NAME="yr" SIZE="-1" VALUE=":$yr:">
<INPUT TYPE="HIDDEN"  NAME="numbegin" SIZE="-1" VALUE=":$numbegin:">
<INPUT TYPE="HIDDEN"  NAME="numend" SIZE="-1" VALUE=":$numend:">

<CENTER>
<TABLE>
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD WIDTH="85%">
<CENTER>
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="3">Home of Public and Private Events</FONT><BR>
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="4"><a href=":$searchcal:">Search</a>, <a href=":$createcal:">Create</a>, and <a href=":$managecal:">Manage</a> Calendars</FONT><BR> 
</CENTER>
</TD>
<TD WIDTH="15%">
&nbsp;
<!--
<a href="http://www.hotdiary.com"><FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="1">Powered By HotDiary</FONT></a>     
-->
</TD>
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="3">
<a href=":$percal:">Personal Calendar</a> -
<a href=":$home:">Home</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&vdomain=:$vdomain:&rh=:$rh:&hs=:$hs:&biscuit=:$biscuit:&page=jwhatsnew.html">What's New?</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&vdomain=:$vdomain:&rh=:$rh:&hs=:$hs:&biscuit=:$biscuit:&page=jfeatures.html">Features</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&vdomain=:$vdomain:&rh=:$rh:&hs=:$hs:&biscuit=:$biscuit:&page=jhelp.html">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<FONT FACE="Tahoma, Arial, Helvetica, sans-serif" SIZE="3">Appointment Report</FONT><BR>
<FONT SIZE="2">(of :$calrepnm:  )</FONT>
<BR>
:$scalendars:
<BR>
</CENTER>
<BR>


</BODY>
</HTML>
