<!-- Begin Yearly calendar column -->
<TD VALIGN="TOP" ALIGN="LEFT" WIDTH="65%">
<!-- Begin Yearly View Table -->
<TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%" HEIGHT="100%">

<!-- Begin Heading Row For Year -->
<TR>
<TD>
<!-- Begin Yearly View Table -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
<!-- Begin Year Label -->
<TR BGCOLOR=a0b8c8>
<TD ALIGN="CENTER">
<CENTER>
<FONT FACE="Verdana" SIZE="2">
:$year:
</FONT>
</CENTER>
</TD>
</TR>
</TABLE>
</TD>
</TR>
<!-- End Heading Row For Year -->

<!-- Begin Yearly View -->
<TR>
<!-- Begin Only Col in Yearly View Row -->
<TD>

:$yearcal:

</TD>
<!-- End Only Col in Yearly View Row -->

</TR>
<!-- End Yearly View -->


</TABLE>
<!-- End Yearly View Table -->

</TD>
<!-- End Yearly calendar column -->
