<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execselectcal.cgi" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">
<FONT FACE="Verdana" SIZE="1">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">

<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>HotDiary (Secure)</b></FONT><BR>
<!--
<FONT FACE="Verdana" SIZE="3">Home of Public and Private Events</FONT><BR>
-->
<FONT FACE="Verdana" SIZE="3"><a href=":viewcal:">View</a>, <a href=":viewcal:">Subscribe</a>, Create, and <a href=":managecal:">Manage</a><BR>Groups And Group Calendars</FONT><BR>
</CENTER>
</TD>
<TD ALIGN=LEFT WIDTH="15%">&nbsp;</TD>
</TR>
</TABLE>


<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: $login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href=":$home:">Home</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jwhatsnew.html">What's New?</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jfeatures.html">Features</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jhelp.html">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<FONT FACE="Verdana" SIZE="3">Select the type of calendar you would like to create:
<BR><BR>
<SELECT NAME=caltype SIZE=3>
<OPTION>Theme
<OPTION>Private
<OPTION>Club
</SELECT>
<BR><BR>
<INPUT TYPE=submit NAME=submit VALUE="Go">
<BR><BR>
Note: Before you proceed ahead make sure your HotDiary Member Profile information is correct. You will need to enter correct email address, and day-time phone number in order to complete processing of your application.
</FONT>
</CENTER>



</BODY>
</HTML>
