<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - Personal & Business Application Service Provider, Events Reminder Publish Calendar Organizer Memo To-Do Pager Fax Groups Planner Free Private Theme Club</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>
<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.cgi" METHOD="POST" :$formenc:>

<FONT FACE="Verdana" SIZE="1">
:$hiddenvars:

<BR>
<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Internet Portal Management Tools</FONT>     
</CENTER>
</TD>
<TD WIDTH="15%">
&nbsp;
</TD>          
</TR>
</TABLE>
</CENTER>

<HR BGCOLOR=dddddd size=1>

<BR><BR>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&enum=5">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&enum=5">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&page=jwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&enum=5">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&page=jfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&enum=5">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&enum=5">Help</a>
</TD>
</TR>
</TABLE>
<BR><BR>



<TABLE>
<TR ALIGN=LEFT>
<!--
<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=yellow>
<IMG SRC="http://www.hotdiary.com/images/yellowln.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>
-->

<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=ffffff>
<IMG SRC="http://www.hotdiary.com/images/nothing.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>

<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=brick>
<IMG SRC="http://www.hotdiary.com/images/brick.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>

<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=cd5b45>
<IMG SRC="http://www.hotdiary.com/images/brick2.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>

<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=brickgr>
<IMG SRC="http://www.hotdiary.com/images/brickgr.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>

<!--
<TD ALIGN=LEFT>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=pinkmatt>
<IMG SRC="http://www.hotdiary.com/images/pinkmatt.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>
-->
</TR>


<TR>
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=8ee5ee>
<IMG SRC="http://www.hotdiary.com/images/dullblue.gif" WIDTH=40 HEIGHT=40 border="1" NAME="dullblue">
</TD>

<!--
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=yellowmatt>
<IMG SRC="http://www.hotdiary.com/images/yellowmatt.gif" WIDTH=40 HEIGHT=40 border="1" NAME="yellowmatt">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=green>
<IMG SRC="http://www.hotdiary.com/images/green.gif" WIDTH=40 HEIGHT=40 border="1" NAME="green">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=bmatt3>
<IMG SRC="http://www.hotdiary.com/images/bmatt3.gif" WIDTH=40 HEIGHT=40 border="1" NAME="bmatt3">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=greenmatt>
<IMG SRC="http://www.hotdiary.com/images/greenmatt.gif" WIDTH=40 HEIGHT=40 border="1" NAME="greenmatt">
</TD>
-->

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=bf3eff>
<IMG SRC="http://www.hotdiary.com/images/indigo.gif" WIDTH=40 HEIGHT=40 border="1" NAME="indigo">
</TD>
</TR>

<TR>
<!--
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=yellowmatt>
<IMG SRC="http://www.hotdiary.com/images/yellowmatt.gif" WIDTH=40 HEIGHT=40 border="1" NAME="yellowmatt">
</TD>
-->

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=bf3eff>
<IMG SRC="http://www.hotdiary.com/images/ltblue2.gif" WIDTH=40 HEIGHT=40 border="1" NAME="ltblue2">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=7fffd4>
<IMG SRC="http://www.hotdiary.com/images/ltgreen2.gif" WIDTH=40 HEIGHT=40 border="1" NAME="ltgreen2">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=cd1076>
<IMG SRC="http://www.hotdiary.com/images/ltpink.gif" WIDTH=40 HEIGHT=40 border="1" NAME="ltpink">
</TD>

<!--
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=>
<IMG SRC="http://www.hotdiary.com/images/ltpink2.gif" WIDTH=40 HEIGHT=40 border="1" NAME="ltpink2">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=orange>
<IMG SRC="http://www.hotdiary.com/images/orange.gif" WIDTH=40 HEIGHT=40 border="1" NAME="oranage">
</TD>
</TR>
-->

<TR>
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=ee6a50>
<IMG SRC="http://www.hotdiary.com/images/orange2.gif" WIDTH=40 HEIGHT=40 border="1" NAME="orange2">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=8fbc8f>
<IMG SRC="http://www.hotdiary.com/images/ltgreen3.gif" WIDTH=40 HEIGHT=40 border="1">
</TD>

<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=7ac5cd>
<IMG SRC="http://www.hotdiary.com/images/steelblue.gif" WIDTH=40 HEIGHT=40 border="1" NAME="steelblue">
</TD>
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=cdad00>
<IMG SRC="http://www.hotdiary.com/images/yellow.gif" WIDTH=40 HEIGHT=40 border="1" NAME="yellow">
</TD>
<!--
<TD>
<INPUT TYPE=RADIO NAME=pubcolor VALUE=yellow3>
<IMG SRC="http://www.hotdiary.com/images/yellow3.gif" WIDTH=40 HEIGHT=40 border="1" NAME="yellow3">
</TD>
-->
</TR>

</TABLE>
<BR>
<CENTER>Click on color to select a background color calendar</CENTER>
<FONT SIZE=3 FACE=Verdana>
<CENTER><INPUT TYPE=Submit NAME=Save VALUE=Save></CENTER>
</FONT>

</FORM>

</BODY>
</HTML>
