<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>
<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:

<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE>
<TR>
<TD WIDTH="15%" ALIGN=LEFT>:$logo:</TD>

<TD ALIGN=CENTER>
<TABLE>
<TR>
<TD ALIGN=CENTER>
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label: (Secure)</b></FONT><BR>
<!--
<FONT FACE="Verdana" SIZE="4"><b><a href=":$mygroups:">:$mygrouptxt:</a></FONT>
<BR>
<a href=":$searchcal:"><FONT FACE="Verdana" SIZE="4" COLOR="03c503">Search</FONT></a>, <a href=":$createcal:"><FONT FACE="Verdana" SIZE="4" COLOR="03c503">Create</FONT></a>, <FONT FACE="Verdana" SIZE="4" COLOR="03c503">and Manage Merged Calendars</FONT><BR>
-->
</CENTER>
</TD>
</TR>
</TABLE>
</TD>

<TD WIDTH="15%" ALIGN=RIGHT>
&nbsp;
<!--
<a href="http://www.hotdiary.com"><FONT FACE="Verdana" SIZE="1">Powered By HotDiary</FONT></a>
-->
</TD>
</TR>
</TABLE>


<BR>
<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href=":$home:">:$homestr:</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jwhatsnew.html">What's New?</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jfeatures.html">Features</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jhelp.html">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR><BR>

<CENTER>
<FONT FACE="Verdana" SIZE="2">Enter Password For Private Merged Calendar
<BR><BR>
Calendar Id:  :$g:
<BR><BR>
Merged Calendar Password: <INPUT TYPE=password name=password>
<BR><BR>
<FONT FACE="Verdana" SIZE="2">
<INPUT TYPE=submit NAME=submit VALUE="Subscribe">
</FONT>

</FONT>
</CENTER>

</BODY>
</HTML>
