<!--

(C) Copyright 1997-2000 HotDiary Inc.

 This software is confidential copyrighted information of HotDiary and
 title to all copies is retained by HotDiary and/or its licensors.
 Licensee shall not modify, decompile, disassemble, decrypt, extract,
 or otherwise. This software may not be leased, assigned, or sublicensed,
 in whole or in part.

Information Common To All Templates

- If you are viewing this page using the View Source utility
of the browser, you will see information for a specific session
as opposed to the generic template. So this may not be the
best way to view the template. We suggest that you download
the template using JiveIt! admin utility.

- Please download this template on a regular basis to make sure
you have taken advantage of new applications that HotDiary
introduces on a regular basis.

- You can customize this template to add your own structure
and look n feel. These could include your own images, layout,
style, fonts, color, java script, java, or even custom links. You
can pass HotDiary variables as parameters to your custom links.
This may help you to build seemless extensions to HotDiary and blend it
more easily into your functional environment.

- After you are done with customization, you can upload the
template using the Admin link on your JiveIt! site. After you
login into your admin account as an administrator, click the
upload template link to upload the template. (For those of you
who have customized the JiveIt Home template, make sure you
preserve the Admin link. This will help you to administer
your JiveIt! site more easily.)

- Be careful with our link tags and parameters! As long as you
keep those unharmed, you can move things around and design
it using your favorite HTML authoring tool

- All hotdiary variables are in the format :$var:, where var is
the variable.

Welcome To The JiveIt Home Template. (Last Updated: Mar. 23, 2000)

-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<!--
  Copyright (c) 2001-2003 HotDiary Inc. All rights reserved.
  This Software is confidential copyrighted information of HotDiary INC and
  Redbasin Networks. Title to all copies is retained by HotDiary INC.
  Licensee shall not modify, decompile, disassemble, decrypt, extract,
  or otherwise. Software may not be leased, assigned, distributed or 
  sublicensed, in whole or in part.
-->

<!-- &()$ APP START -->


<head>
<style type="text/css">
    body { font-family: Tahoma, Arial, Helvetica, sans-serif; margin-top: 0%; margin-bottom: 0%; margin-left: 0%; margin-right: 0%; }
    A:link {text-decoration: none}
    A:visited {text-decoration: none}
    A:active {text-decoration: none}
    :link { color: rgb(0, 0, 255) }
    :visited { color: rgb(0, 0, 255) }
    :active { color: rgb(0, 0, 255) }
    :hover { color: rgb(0, 0, 255) }
</style>

<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>1800Calendar.com - Portal Cobranding</title>
<meta name=keywords content="free diary portal cobranding co-brand organizer calendar memo to-do addressbook contact manager note pad bulletin board chat file storage customizable message private labelling schedule appointment reminder software rental team project group corporate asp office conflict resolution party planner secure meeting event publish ISP hosting application service provider public calender community organiser daily monthly weekly yearly personal collaborate recurring multiple time zones daylight savings time">
<meta name=description content="HotDiary provides online web diary applications that are customizable and co-brandable in a portal application infrastructure with collaborative scheduling, groupware, calendaring, memo, to-do, note pad, chat, file storage, bulletin board, reminders.">
<meta http-equiv=Content-language content=en-US>

<meta name=robots content="index, follow">
<meta name=revisit-after content="10 days">

</head>

<body bgcolor=white >
<table ALIGN=TOP BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="70%">

<tr VALIGN=TOP WIDTH="100%" bgcolor=black>
<td WIDTH="100%">
<!--
<img SRC="hddune2.jpg" ALT="HotDiary" WIDTH="700" HEIGHT="120" BORDER=0>
-->
<a href="http://1800calendar.com"><img SRC="http://hotdiary.com/hddune2.jpg" ALT="Go to 1800calendar.com" WIDTH="700" HEIGHT="120" BORDER=0></a>
</td>
</tr>

<tr BGCOLOR=ffffff VALIGN=TOP WIDTH="100%" HEIGHT="100%">
<td VALIGN=TOP WIDTH="100%" HEIGHT="100%">

<TABLE ALIGN=TOP BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%" HEIGHT="100%">
<TR BGCOLOR=black VALIGN=TOP WIDTH="100%" HEIGHT="100%">
<TD WIDTH="10%" HEIGHT="100%">
<table ALIGN=TOP width=100% border=0 cellpadding=0 cellspacing=0>
<tr VALIGN=TOP>
<td>
<br>
<table valign=top width="100%" border=1 cellpadding=0 cellspacing=0 bgcolor=black>
<tr>
<td>

<!-- PASTED FROM CRAPPY PAGE -->
<table ALIGN=TOP width=100% border=0 cellpadding=0 cellspacing=0 bgcolor=#cccccc>
<!--
<tr valign=top bgcolor=black>
<td colspan=2>
&nbsp;
</td>
</tr>
-->
<tr VALIGN=TOP>
<!-- <td bgcolor=#aa0033 colspan=2 nowrap> -->
<!--
<td bgcolor=903c1a colspan=2 nowrap align=center>
-->

<td bgcolor=e4a74e colspan=2 nowrap align=center>
<!--
<font color=#ffffff><b>&#62;</b></font>
-->
<font size=-1 color=#ffffff><b>Start Here</b></font>
</td>
</tr>

<!--
<tr bgcolor=#efefef><td bgcolor=#008000 class=d><a class=d href=http://1800calendar.com/index.cgi?jp=:$jp:&page=register><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://1800calendar.com/index.cgi?jp=:$jp:&page=register>&nbsp;<font color=brown size=-1><b>Register with JiveIt!</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr>
-->

<tr bgcolor=#efefef><td bgcolor=#663399 class=d><a class=d href=http://hotdiary.com/jiveithelp.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/jiveithelp.shtml>&nbsp;<font color=brown size=-1><b>Cobrand HelpDesk</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr>
<tr bgcolor=#efefef><td bgcolor=#723ef8 class=d><a class=d href=http://hotdiary.com/jiveitb2b.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/jiveitb2b.shtml>&nbsp;<font color=brown size=-1><b>Setup Portal</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr>
<tr bgcolor=#efefef><td bgcolor=#8f2a5d class=d><a class=d href=http://hotdiary.com/jiveitlicensing.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/jiveitlicensing.shtml>&nbsp;<font color=brown size=-1><b>Cobrand License</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr>
<tr bgcolor=#efefef><td bgcolor=#008000 class=d><a class=d href=http://hotdiary.com/what_is_hotdiary.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/what_is_hotdiary.shtml>&nbsp;<font color=brown size=-1><b>HotDiary</b></font></a></td></tr>

<!--
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#cc0000 class=d><a class=d href=http://hotdiary.com/investor_relations.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/investor_relations.shtml>&nbsp;<font color=brown size=-1><b>Investors</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#ff6600 class=d><a class=d href=http://hotdiary.com/activateacc.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/activateacc.shtml>&nbsp;<font color=brown size=-1><b>Activation</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#663399 class=d><a class=d href=http://hotdiary.com/forgotpasswd.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/forgotpasswd.shtml>&nbsp;<font color=brown size=-1><b>My Account</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#669999 class=d><a class=d href=http://hotdiary.com/privacy_policy.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/privacy_policy.shtml>&nbsp;<font color=brown size=-1><b>Privacy Policy</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#ffcc00 class=d><a class=d href=http://hotdiary.com/user_agreement.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/user_agreement.shtml>&nbsp;<font color=brown size=-1><b>User Agreement</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#000088 class=d><a class=d href=http://hotdiary.com/copyrights.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/copyrights.shtml>&nbsp;<font color=brown size=-1><b>Copyrights</b></font></a></td></tr>
<tr><td bgcolor=#ffffff colspan=2><img src=/images/is_single_pixel_gif.gif width=1 height=2></td></tr><tr bgcolor=#efefef><td bgcolor=#008000 class=d><a class=d href=http://hotdiary.com/press_release.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/press_release.shtml>&nbsp;<font color=brown size=-1><b>Awards & Press</b></font></a></td></tr>
-->

</table>
</td>
</tr>
</table>
<br>
<table valign=top width="100%" border=1 cellpadding=0 cellspacing=0 bgcolor=gray>
<tr VALIGN=top>
<td VALIGN=top>

<table VALIGN=TOP width=100% border=0 cellpadding=0 cellspacing=0 bgcolor=#cccccc>


<!-- other stuff -->

<!--
<tr bgcolor=black><td colspan=2 bgcolor=black>&nbsp;</td> </tr>
-->
<tr>
<td ALIGN=CENTER bgcolor=e4a74e colspan=2 nowrap>
<font size=-1 color=#ffffff><b>Exclusive</b></font>
</td>
</tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/mortgage><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/mortgage>&nbsp;<font color=brown size=-1><b>Mortgage & Realty</b></font></a></td></tr>
<tr bgcolor=#dddddd><td class=d><a class=d href=http://hotdiary.com/linux_solutions.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/linux_solutions.shtml>&nbsp;<font color=brown size=-1><b>Linux Solutions</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/wordlist.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/wordlist.shtml>&nbsp;<font color=brown size=-1><b>Word List</b></font></a></td></tr>
<tr bgcolor=#dddddd><td class=d><a class=d href=http://portalserver.net><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://portalserver.net>&nbsp;<font color=brown size=-1><b>Portal Server</b></font></a></td></tr>

</table>
</td>
</tr>
</table>

<br>

<table valign=top width="100%" border=1 cellpadding=0 cellspacing=0 bgcolor=gray>
<tr>
<td>

<table VALIGN=TOP width=100% border=0 cellpadding=0 cellspacing=0 bgcolor=#cccccc>


<!--
<tr bgcolor=black><td colspan=2 bgcolor=black>&nbsp;</td> </tr>
-->
<tr>
<td ALIGN=CENTER bgcolor=e4a74e colspan=2 nowrap>
<font size=-1 color=#ffffff><b>Portal Services</b></font>
</td>
</tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/calendar.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/calendar.shtml>&nbsp;<font color=brown size=-1><b>My Calendar</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/groupware.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/groupware.shtml>&nbsp;<font color=brown size=-1><b>Groupware</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/memomanager.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/memomanager.shtml>&nbsp;<font color=brown size=-1><b>Memo & To-Do</b></font></a></td></tr>

<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/calendar.shtml#groupcalendars><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/calendar.shtml#groupcalendars>&nbsp;<font color=brown size=-1><b>Team Calendars</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/mergedcalendars.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/mergedcalendars.shtml>&nbsp;<font color=brown size=-1><b>Merged Calendars</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/diaryboard.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/diaryboard.shtml>&nbsp;<font color=brown size=-1><b>Bulletin Board</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/reminders.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/reminders.shtml>&nbsp;<font color=brown size=-1><b>My Reminders</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/contactmanager.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/contactmanager.shtml>&nbsp;<font color=brown size=-1><b>My Contacts</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/diarypad.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/diarypad.shtml>&nbsp;<font color=brown size=-1><b>My Diary Pad</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/teltalk.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/teltalk.shtml>&nbsp;<font color=brown size=-1><b>My TelTalk</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/collabrum.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/collabrum.shtml>&nbsp;<font color=brown size=-1><b>My Collabrum</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/diarychat.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/diarychat.shtml>&nbsp;<font color=brown size=-1><b>Diary Chat</b></font></a></td></tr>

<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/carryon.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/carryon.shtml>&nbsp;<font color=brown size=-1><b>My Carry-On</b></font></a></td></tr>
<tr bgcolor=#dddddd><td bgcolor=#dddddd class=d><a class=d href=http://hotdiary.com/partyplanner.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/partyplanner.shtml>&nbsp;<font color=brown size=-1><b>Party Planner</b></font></a></td></tr>
<tr bgcolor=#efefef><td bgcolor=#efefef class=d><a class=d href=http://hotdiary.com/free_services.shtml><font size=-2>&nbsp;</font></a></td><td class=d nowrap style=cursor:pointer;cursor:hand;><a class=d href=http://hotdiary.com/free_services.shtml>&nbsp;<font color=brown size=-1><b>Free Services</b></font></a></td></tr>

</table>
</td>
</tr>
</table>


<!-- PASTED FROM CRAPPY PAGE -->
</TD>

<TD WIDTH="90%" HEIGHT="100%">

<!-- END OF HEADER -->

<br>

<FORM ACTION="/jsp/execdogeneric.jsp" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">
<INPUT TYPE=HIDDEN SIZE="-1" NAME=pnum VALUE=4>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p1 VALUE=login>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p2 VALUE=password>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p3 VALUE=jp>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=enum VALUE=5>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re0 VALUE=HTTPSUBDIR>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le0 VALUE=hs>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re1 VALUE=CGISUBDIR>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le1 VALUE=rh>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re2 VALUE=SERVER_NAME>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le2 VALUE=vdomain>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re3 VALUE=HDLIC>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le3 VALUE=HDLIC>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=re4 VALUE=HTTP_COOKIE>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=le4 VALUE=HTTP_COOKIE>
<INPUT TYPE=HIDDEN SIZE="-1" NAME=p0 VALUE=ZXhlY3RvcGNhbC5jZ2kaaaa>

<INPUT TYPE=HIDDEN NAME=jp VALUE=:$jp:>
<CENTER>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=2 WIDTH="80%">
<TR ALIGN=CENTER>
<TD ALIGN=LEFT WIDTH="15%">
:$jiveitlogo:
</TD>
<TD ALIGN=CENTER WIDTH="30%">
:$topleft:
</TD>
<TD ALIGN=CENTER WIDTH="25%">
<h3><FONT SIZE=2><b>:$jiveittitle:</b></FONT></h3>
</TD>
<TD ALIGN=CENTER WIDTH="30%">
:$topright:
</TD>
</TR>
</TABLE>

<BR>

<!--
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=2 WIDTH="80%">
<TR>
<TD ALIGN=LEFT WIDTH="20%">
<A HREF="http://1800calendar.com/index.cgi?jp=:$jp:&page=register">
<IMG SRC="/images/register_new.gif" ALT="Register With :$title:!" WIDTH="75" HEIGHT="75" BORDER="0"></A>
<FONT SIZE="2" color=white><BR>at :$jp:'s Portal!</FONT>
</TD>
<TD ALIGN=CENTER WIDTH="100%">
</TD>
</TR>
</TABLE>
-->

<CENTER>
:$middleright:
</CENTER>

<BR>
<BR>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=2 WIDTH="80%">
<TR>
<TD ALIGN=LEFT WIDTH="30%">
:$bottomleft:
</TD>
<TD ALIGN=CENTER WIDTH="40%">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="2" WIDTH="60%">
<TR>
<TD COLSPAN=2>
<font size=2 color=white>Sign-In To A JiveIt! Portal (Administrator: :$jp:)</font>
</TD>
</TR>
<TR>
<TD COLSPAN=2>
<font size=2 color=white><a href=jiveitb2b.shtml>Setup My Own Portal</a></font>
</TD>
</TR>
<TR>
<TD COLSPAN=2>
<FONT SIZE="2" color=white><A HREF="http://1800calendar.com/index.cgi?jp=:$jp:&page=register">Register with buddie's portal</a></FONT>
</TD>
</TR>

<TR> 
<TD COLSPAN=2><br></TD>
</TR>

<TR ALIGN=CENTER>
<TD WIDTH="50%" VALIGN="TOP"><FONT SIZE="2" color=white>Member Login</FONT></TD>
<TD WIDTH="50%"><INPUT TYPE="TEXT" NAME="login" SIZE="18" MAXLENGTH="64"></TD>
</TR>

<TR ALIGN=CENTER>
<TD WIDTH="50%"><FONT SIZE="2" color=white>Password</FONT></TD>
<TD WIDTH="50%"><INPUT TYPE="PASSWORD" NAME="password" SIZE="18"></TD>
</TR>

<TR>
<TD ALIGN=CENTER COLSPAN="2">
<P>
<P><INPUT TYPE="SUBMIT" NAME="Submit3" VALUE="Submit"><p>
<FONT SIZE=1>
<a href=http://www.portalserver.net>Portal Server</a>
</FONT>

<P ALIGN=CENTER>
<FONT SIZE=2><a href="/cgi-bin/execjiveitadmin.cgi?jp=:$jp:">JiveIt! Admin</a></FONT>

</TD>
</TR>

</TR>

</TABLE>

</TD>

<TD ALIGN=CENTER WIDTH="30%">
:$bottomright:
</TD>

</TR>
</TABLE>

<BR><BR><BR>

<CENTER>
:$jiveitbanner:
</CENTER>

</FORM>

<!-- FOOTER -->

</TD>
</TR>
</TABLE>


</td>
</tr>

<tr bgcolor=black><td>&nbsp;</td></tr>

<tr bgcolor=white align=center>
<td valign=top>
<table cellspacing=0 cellpadding=0 width="100%" bgcolor=gray border=1>
<tr><td>
<table cellspacing=0 cellpadding=0 width="100%" bgcolor=white border=0>
<tr><td align=center colspan=2>
<font size=1>
<br />
HotDiary.com: <a href="http://hotdiary.com/accounthelp.shtml">Help</a> | <a href="http://hotdiary.com/contact_us.shtml">Feedback</a> | <a href="http://hotdiary.com/partner_with_us.shtml">Partner</a> | <a href="http://hotdiary.com/investor_relations.shtml">Investor</a> | <a href="http://hotdiary.com/register.shtml">Register</a> | <a href="http://hotdiary.com/privacy_policy.shtml">Privacy Policy</a> | <a href="http://hotdiary.com/forgotpasswd.shtml">Account</a>
<hr>
</font>
</td></tr>
<tr>
<td>
<img src=http://hotdiary.com/images/newhdlogo.gif border=0>
</td>

<td>
<a href=http://www.hotdiary.com/cgi-bin/adbanner/execshowsite?member=hotdiary&page=26><IMG SRC="http://www.hotdiary.com/cgi-bin/adbanner/execshowbanner?member=hotdiary&page=26" BORDER=0></a>
<script type="text/javascript"><!--
google_ad_client = "pub-8087979519496710";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="";
google_color_border = "B4D0DC";
google_color_bg = "ECF8FF";
google_color_link = "0000CC";
google_color_url = "008000";
google_color_text = "6F6F6F";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</td></tr>
</table>
</td>
</tr>

<tr bgcolor=black>
<td>
<FONT SIZE=1 color=white><i>
Copyright &copy; HotDiary<sup><small>TM</small></sup>, 1997-2005. All rights reserved.</i>
</font>
</td>
</tr>

</table>

</body>
</html>
