<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - Personal & Business Application Service Provider, Events Reminder Publish Calendar Organizer Memo To-Do Pager Fax Groups Planner Free Private Theme Club</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execjiveitupload.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Upload JiveIt! Templates</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>

<!--
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>
</TD>
-->
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>

<BR>
<BR>
<TABLE BORDER=2 CELLPADDING=0 CELLSPACING=0 BORDERCOLOR=dd0402 WIDTH=75%>
<TR>
<TD>
<TABLE CELLPADDING="5" CELLSPACING="0">

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>MyRewards</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=myrewards>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>MyProfile</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=myprofile>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>MyCalendarSettings</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=mycalendarsettings>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>PremiumChannel</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=premiumchannel>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>PartyPlanner</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=partyplanner>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>EditPartyPlanner</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=editpartyplanner>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>ShowPartyPlanner</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=showpartyplanner>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>ManageGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=managegroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>SearchGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=searchgroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>EditManageGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=editmanagegroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>EditCreateGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=editcreategroups>
</FONT>
</TD>
</TR>


<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>SubscribeGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=subscribegroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>CreateGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=creategroups>
</FONT>
</TD>
</TR>


<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>DisplayGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=displaygroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>SetCalColor</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=setcalcolor>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>MyGroups</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=mygroups>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>CreateMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=createmerged>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>ManageMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=managemerged>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>SearchMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=searchmerged>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>DisplayMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=displaymerged>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>DisplayManageMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=displaymanagemerged>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="20%"><B>
<FONT SIZE=2><B>SubscribeMerged</B></FONT>
</TD>
<TD VALIGN=TOP><FONT FACE=Verdana SIZE=2>
File Name On<BR>Your Computer 
</FONT>
</TD>
<TD VALIGN=TOP COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=FILE NAME=subscribemerged>
</FONT>
</TD>
</TR>

</TABLE>

<BR>
<CENTER>
<INPUT TYPE=SUBMIT NAME=upload VALUE=Upload>
</CENTER>
</TD>
</TR>
</TABLE>
<p><FONT FACE=Verdana SIZE=2><i>Attn: JiveIt! Administrators, We Are Adding New Templates Every Day</i></FONT>


</FORM>


<BR><BR>
</CENTER>
<B> :$status: </B>
</BODY>
</HTML>
