<HTML>

<HEAD>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

<BASE href="http://www.hotdiary.com">
</HEAD>


<BODY BGCOLOR=ffffff>

<FORM ACTION="http://www.hotdiary.com/cgi-bin/execuploadfile.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:

<CENTER>
<FONT FACE=Verdana SIZE=3><B>Carry-On</B></FONT>
<FONT FACE=Verdana SIZE=1>
<BR>
(MP3, GIFS, AVI, Photos, Files)
<BR>
Click on a file to view it. 
<BR>
Click on the Back button to go back.
</FONT>

<BR>
<BR>
<TABLE BORDER="0" BGCOLOR=ffffff CELLSPACING="0" CELLPADDING="0" WIDTH="75%">
<TR >
<TD ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3"><B>:$myfolder:</B></FONT></TD>
<!--
<TD ALIGN="CENTER"><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execcalclient:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" target=_parent><FONT FACE=Verdana SIZE=3><b>My Calendar</b></FONT></a>
-->
<TD ALIGN="RIGHT"><B><FONT FACE="Verdana" FONT COLOR="0000ff" SIZE="3">:$curdir:</FONT></B></TD>
</TR>
</TABLE>

<BR>
:$list:
<BR>

:$status:

</FORM>


<BR><BR>
</CENTER>

</BODY>
</HTML>

