<HTML>
<HEAD>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

<BASE href="http://:$vdomain:">
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="http://www.hotdiary.com/cgi-bin/execsendmail.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:

<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE BORDER=0 WIDTH="100%">
<TR>
<TD ALIGN=CENTER>
<FONT FACE=Verdana SIZE=3><B> Send File :$filename: </B> </FONT>
</TD>
</TR>
<BR>
<BR>
<TR>
<TD ALIGN=CENTER>
<a href>:$back:</a>
</TD>
</TR>
</TABLE>
</CENTER>
<BR><BR>
<CENTER>
<TABLE BORDER="0" WIDTH="100%" CELLPADDING=0>
<TR VALIGN=TOP HEIGHT="100%">
<TD WIDTH="40%" VALIGN=TOP>
<FONT SIZE="3" FACE="Verdana">Send Email To:</FONT><BR>
<FONT SIZE="2" FACE="Verdana">(select from your contact manager)</FONT>
</TD>
<TD WIDTH="60%" HEIGHT="100%" VALIGN=TOP> 
<FONT SIZE="2"><SELECT NAME=memail SIZE=5 MULTIPLE>:$memail:</SELECT> </FONT>
</TD>
</TR>
<TR VALIGN=TOP>
<TD WIDTH="40%" ALIGN=LEFT VALIGN=TOP>
<FONT SIZE="3" FACE="Verdana">Copy Email To: Cc:</FONT><BR>
<FONT SIZE="2" FACE="Verdana">(specify email addresses seperated by commas)</FONT>
</TD>
<TD WIDTH="60%" VALIGN=TOP>
<INPUT TYPE=TEXT NAME=cc>
</TD>
</TR>
<TR VALIGN=TOP>
<TD WIDTH="40%" ALIGN=LEFT VALIGN=TOP>
<FONT SIZE="3" FACE="Verdana">Subject Of Email</FONT>
</TD>
<TD WIDTH="60%" VALIGN=TOP>
<INPUT TYPE=TEXT NAME=subject>
</TD>
</TABLE>
</CENTER>

<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="http://www.hotdiary.com/images/send.gif" border="0" NAME="send">
<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
</CENTER>

</FORM>
</BODY>
</HTML>

