<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="http://www.hotdiary.com/cgi-bin/execdogeneric.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">My Carry-On</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jintranetwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jintranetfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<FONT FACE=Verdana SIZE=3><B>Carry-On</B></FONT>
<FONT FACE=Verdana SIZE=1>
<BR>
(MP3, GIFS, AVI, Photos, Files)</FONT>
<BR>
Click on a file to view it. 
<BR>
Click on the Back button to go back.
</FONT>
<BR>
<BR>
<FONT FACE=Verdana SIZE=2>
<B>Edit :$filename: </B>
</FONT>
<BR>
<BR>
<FONT FACE=Verdana SIZE=3>
:$back:
</FONT>
<BR>
<BR>
<TABLE BORDER=2 CELLPADDING=0 CELLSPACING=0 BORDERCOLOR=dd0402 WIDTH=75%>
<TR>
<TD>
<TABLE CELLPADDING="0" CELLSPACING="0">
<TR>
<TD WIDTH="20%">
</TD>
<BR>
<BR>
<TD><FONT FACE=Verdana SIZE=2>
Current File Name/Directory 
</FONT>
</TD>
<TD>
:$filename:
</TD>
</TR>

<TR>
<TD WIDTH="20%">
</TD>
<TD><FONT FACE=Verdana SIZE=2>
Rename Your File/Directory </FONT>
<FONT SIZE=1>(Specify file name or Directory)</FONT>
</TD>
<TD COLSPAN=1> 
<INPUT TYPE=TEXT NAME=newfilename VALUE=:$newfilename:>
</TD>
</TR>


<TR>
<TD WIDTH="40%">
</TD>
<TD WIDTH="60%" COLSPAN=2> <FONT FACE=Verdana SIZE=3 COLOR="0000ff"><B>
<BR>
<HR>
<CENTER>
Access permissions when you publish Attache'
</CENTER>
</B>
</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="25%">
</TD>
<TD><FONT FACE=Verdana SIZE=2>Publish Your Attache'
<INPUT TYPE=CHECKBOX NAME=publish :$publish:>
</FONT>
<BR>
<FONT FACE=Verdana SIZE=1>(Click on checkbox to publish)
</FONT>
</TD>
</TR>


<TR>
<TD WIDTH="25%">
</TD>
<TD WIDTH="25%"><FONT FACE=Verdana SIZE=2>Public</FONT>
<INPUT TYPE="RADIO"  NAME=radio1 VALUE=public :$publicval:><BR>
<FONT FACE=Verdana SIZE=1>(access to everyone)</FONT>
</TD>
<TD WIDTH="25%">
<FONT FACE=Verdana SIZE=2>Private</FONT>
<INPUT TYPE="RADIO" NAME=radio1 VALUE=private :$privateval:><BR>
<FONT SIZE=1>(access only to the users specified below)</FONT>
</TD>
<TD WIDTH="25%"><FONT FACE=Verdana SIZE=2>Personal</FONT>
<INPUT TYPE="RADIO" NAME=radio1 VALUE=personal :$personalval:><BR>
<FONT FACE=Verdana SIZE=1>(Default access only to you)</FONT>
</TD>
</TR>

<TR>
<TD WIDTH=20%>
</TD>
<TD><FONT FACE=Verdana>
<FONT SIZE=2>Specify User Logins</FONT><BR>
<FONT SIZE=1>use commas between logins<BR>
The files will be visible only to these people when you publish Attache'</FONT></BR>
</TD>
<TD COLSPAN=3 FONT FACE=Verdana SIZE=2>
<INPUT TYPE=TEXT NAME=list VALUE=:$list:></FONT>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>
<CENTER>
<INPUT TYPE=SUBMIT NAME=save VALUE=Save>
</CENTER>
</TD>
</TR>
</TABLE>

<!--
<BR>
<TABLE BORDER="0" BGCOLOR=ffffff CELLSPACING="0" CELLPADDING="0" WIDTH="75%">
<TR >
<TD ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3"><B>:$myfolder:</B></FONT></TD>
<TD ALIGN="RIGHT"><B><FONT FACE="Verdana" FONT COLOR="0000ff" SIZE="3">:$curdir:</FONT></B></TD>
</TR>
</TABLE>

:$list:
-->

</FORM>


<BR><BR>
</CENTER>
:$status:
</BODY>
</HTML>
