<HTML>
<HEAD>
</HEAD>
<BODY BGCOLOR=ffffff>
<CENTER>

<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">

<TR>

<TD WIDTH="15%">
<a href="http://:$vdomain:"><IMG SRC=":$logo:" WIDTH=60 HEIGHT=60 BORDER=0></a>
</TD>

<TD WIDTH="85%" ALIGN=CENTER>
<h3>Welcome To :$title:</h3>
</TD>
</TR>
</TABLE>

<HR>

</CENTER>

<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH="75%">
<TR>
<TD>

<FONT FACE=Verdana SIZE=3>
Dear :$login:,
<p ALIGN=JUSTIFY>
Congratulations for choosing :$title: as your web organizer.
:$title: is more than just an organizer. It has all kinds of
portal tools for your personal and business needs. New features
are added every week.
</p>

<p ALIGN=JUSTIFY>
<FONT COLOR=ff4400>
:$activationmsg:
</FONT>
</p>

<p ALIGN=JUSTIFY>
The information below summarizes your current account. Please
take a look at this information, and if it needs to be updated,
you can login to :$title: at any time and click on the Profile
link. Also, please save this email for your future reference 
as it contains important information including your login, and
password and email address.
</FONT>

</TD>
</TR>
</TABLE>

<BR>
<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=5 BORDERCOLOR="ff00ff" WIDTH="75%">

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Login</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$login: &nbsp;</FONT>
</TD>
</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Password</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$password: &nbsp;</FONT>
</TD>
</TR>


<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Email</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$email: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Activation Code</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$acode: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Host Company/Partner</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$title: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Company Domain</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$vdomain: &nbsp;</FONT>
</TD>

</TR>

</TABLE>

<TABLE CELLPADDING=0 CELLSPACING=0 WIDTH="75%">
<TR>
<TD>

<FONT FACE=Verdana SIZE=3>
<p>Regards,
<p>:$title:
</FONT>

</TD>
</TR>
</TABLE>

<p>
<a href=http://www.hotdiary.com/teltalk.html><IMG SRC="http://www.hotdiary.com/images/teltalk_new.gif" BORDER=0></a><FONT FACE=Verdana SIZE=3>Empower Yourself With :$title: TelTalk Communications Service</FONT>

<p>
<HR>


<p>
<FONT FACE=Verdana SIZE=3>
<a href="http://:$vdomain:">http://:$vdomain:</a>
<BR>
:$title: - The New Generation Internet Organizer
</FONT>

<p>
<CENTER>
<a href="http://:$vdomain:">:$banner:</a>
</CENTER>

<IMG SRC="http://www.hotdiary.com/cgi-bin/execregletter.cgi?member=:$login:&func=lostpass">

</BODY>
</HTML>
