<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">My Downtown - B2B Planner</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&p2=jp&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetwhatsnew.html&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetfeatures.html&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&jp=:$jp:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<TABLE CELLPADDING=2 CELLSPACING=2>
<TR>

<TD WIDTH="15%">
<IMG SRC="http://www.hotdiary.com/images/downtownlogo.jpg">
</TD>

<TD WIDTH="85%">  

<CENTER>
<TABLE WIDTH="60%" CELLPADDING=0 CELLSPACING=5>
<TR VALIGN=TOP>
<TD COLSPAN=2 ALIGN=CENTER>
<FONT FACE=Verdana SIZE=4>Manager Roles (:$business:)</FONT>
<BR><FONT SIZE=1>(Check boxes for required items)</FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Invite People To Business</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=invitepeople :$invitepeople:></FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Approve Pending Requests</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=approvepending :$approvepending:></FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Delete People From Business</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=deletepeople :$deletepeople:></FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Edit Business Settings</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=editsettings :$editsettings:></FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Manage Resources</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=manageresources :$manageresources:></FONT>
</TD>
</TR>
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Edit Contacts in Business Directory</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=updatecontacts :$updatecontacts:></FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Manage Teams in Business</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE="3"><INPUT TYPE=CHECKBOX NAME=teamupdate :$teamupdate:></FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD COLSPAN=2>
<FONT FACE=Verdana SIZE=3><INPUT TYPE=SUBMIT NAME=Save VALUE=Save></FONT>
</TD>
</TR>
</TABLE>
</CENTER>

</TD>
</TR>
</TABLE>

</BODY>
</HTML>
