<!--

(C) Copyright 1997-2000 HotDiary Inc.

 This software is confidential copyrighted information of HotDiary and
 title to all copies is retained by HotDiary and/or its licensors.
 Licensee shall not modify, decompile, disassemble, decrypt, extract,
 or otherwise. This software may not be leased, assigned, or sublicensed,
 in whole or in part.

Information Common To All Templates

- If you are viewing this page using the View Source utility
of the browser, you will see information for a specific session
as opposed to the generic template. So this may not be the
best way to view the template. We suggest that you download
the template using JiveIt! admin utility.

- Please download this template on a regular basis to make sure
you have taken advantage of new applications that HotDiary
introduces on a regular basis.

- You can customize this template to add your own structure
and look n feel. These could include your own images, layout,
style, fonts, color, java script, java, or even custom links. You
can pass HotDiary variables as parameters to your custom links.
This may help you to build seemless extensions to HotDiary and blend it
more easily into your functional environment.

- After you are done with customization, you can upload the
template using the Admin link on your JiveIt! site. After you
login into your admin account as an administrator, click the
upload template link to upload the template. (For those of you
who have customized the JiveIt Home template, make sure you
preserve the Admin link. This will help you to administer
your JiveIt! site more easily.)

- Be careful with our link tags and parameters! As long as you
keep those unharmed, you can move things around and design
it using your favorite HTML authoring tool

- All hotdiary variables are in the format :$var:, where var is
the variable.

Welcome To The  manage merged Template. (Last Updated: Mar. 26, 2000)
managemerged.txt
-->



<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

</HEAD>

<BODY BGCOLOR=ffffff>

<!--
<FORM ACTION="/cgi-bin/:$rh:/execmanagegroupcal.cgi" METHOD="POST" ENCTYPE="multipart/form-data">
-->
<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.cgi" METHOD="POST" :$formenc:>
<FONT FACE="Verdana" SIZE="1">
:$hiddenvars:
<!--
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<INPUT TYPE="HIDDEN"  NAME="jp" SIZE="-1" VALUE=":$jp:">
-->

<CENTER>
<TABLE>
<TR>
<TD WIDTH="15%" ALIGN=LEFT>:$logo:</TD>
<TD ALIGN=CENTER>
<TABLE>
<TR>
<TD ALIGN=CENTER WIDTH="85%">

<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label: (Secure)</b></FONT><BR>
<FONT FACE="Verdana" SIZE="4"><a href=":$mygroups:">:$mygrouptxt:</a></FONT>
<BR>
<a href=":$searchcal:"><FONT FACE="Verdana" SIZE="4" COLOR="03c503">Search</FONT></a>, &nbsp;<a href=":$createcal:"><FONT FACE="Verdana" SIZE="4" COLOR="03c503">Create</FONT></a>, &nbsp;<FONT FACE="Verdana" SIZE="4" COLOR="03c503">Manage Merged Calendars</FONT><BR>
</CENTER>

</TD>
</TR>
</TABLE>
</TD>
<TD WIDTH="15%" ALIGN=RIGHT>
<a href="http://www.hotdiary.com"><FONT FACE="Verdana" SIZE="1">Powered By HotDiary</FONT></a>
</TD>
</TR>
</TABLE>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href=":$home:">:$homestr:</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jwhatsnew.html">What's New?</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jfeatures.html">Features</a> -
<a href="http://www.hotdiary.com/cgi-bin/execdeploypage.cgi?jp=:$jp:&rh=:$rh:&biscuit=:$biscuit:&vdomain=:$vdomain:&page=jhelp.html">Help</a>
</FONT>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>

<FONT SIZE="4" FACE="Verdana">Select A Merged Calendar</FONT>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="75%">

<TR ALIGN="CENTER">
<TD WIDTH="100%">
<FONT SIZE="2">
<SELECT NAME=grouplist SIZE=5>
:$grouplist:
</SELECT>
</FONT>
</TD>
</TR>

<TR ALIGN="CENTER">
<TD WIDTH="33%">
<FONT SIZE="3"><INPUT TYPE=submit NAME=manage VALUE="Manage"></FONT>
<FONT SIZE="3"><INPUT TYPE=submit NAME=delete VALUE="Delete"></FONT>
</TD>
</TR>

</TABLE>
<FONT SIZE="3" FACE="Verdana">:$status:</FONT>
</CENTER>

</FONT>
</FORM>
</BODY>
</HTML>
