
<P><h1><FONT FACE="Verdana" SIZE="4">Select a Calendar</FONT></h1>
<CENTER>
<TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="0">

<!--
<TR>
<TD WIDTH="30%"><FONT FACE="Verdana" SIZE="3">My TelTalk<BR>Calendar</FONT></TD>
<TD COLSPAN="2" WIDTH="70%">
<FONT FACE="Verdana" SIZE="3">:$pcalendarprog:</FONT>
</TD>
</TR>

<TR>
<TD COLSPAN="3" WIDTH=75%">
<HR>
</TD>
</TR>
-->

<TR>
<TD WIDTH="30%"><FONT FACE="Verdana" SIZE="3">My Blog<BR> Calendar</FONT></TD>
<TD COLSPAN="2" WIDTH="70%">
<FONT FACE="Verdana" SIZE="3"><a href=":$calendarprog:">View</a> My Personal Blog (Memo) Calendar</FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=3>
<BR><FONT SIZE=1><a href="http://www.hotdiary.com/cgi-bin/execreferlink.cgi?member=mkruse&url=http://mkruse.netexpress.net" target=_main>http://mkruse.netexpress.net</a>
<BR>© Matt Kruse
</FONT><BR>
</TD>
</TR>

<TR>
<TD COLSPAN="3" WIDTH=75%">
<HR>
</TD>
</TR>

<!--

<TR>
<TD WIDTH="30%">
<IMG SRC="/images/new2a.gif" WIDTH="60" HEIGHT="40" BORDER="0"><BR>
<FONT FACE="Verdana" SIZE="3">Group Calendar</FONT></TD>
<TD WIDTH="35%">
<FONT FACE="Verdana" SIZE="3">Select group<BR>
<SELECT NAME="ppgroups"> :$ppgroups:
</SELECT>
</FONT>
</TD>
<TD WIDTH="35%">
<FONT FACE="Verdana" SIZE="3">Press Button<BR>
<INPUT TYPE=SUBMIT border="0" NAME="pcalendar" VALUE="Calendar"></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN="3" WIDTH=75%">
<HR>
</TD>
</TR>
-->


<TR>
<TD WIDTH="30%"><FONT FACE="Verdana" SIZE="3">Group Blog Calendar</FONT><BR>
<IMG SRC=images/calendarchat.gif>
</TD>
<TD WIDTH="35%">
<FONT FACE="Verdana" SIZE="3">Select group<BR>
<SELECT NAME="pgroups"> :$pgroups:
</SELECT>
</FONT>
</TD>
<TD WIDTH="35%>
<FONT FACE="Verdana" SIZE="3">Press Button<BR>
<INPUT TYPE=SUBMIT NAME="calendar" VALUE="Group Blog Calendar"></FONT>
</TD>
</TR>

<TR>
<TD COLSPAN=3>
<BR><FONT SIZE=1><a href="http://www.hotdiary.com/cgi-bin/execreferlink.cgi?member=mkruse&url=http://mkruse.netexpress.net" target=_main>http://mkruse.netexpress.net</a>
<BR>© Matt Kruse
</FONT><BR>
</FONT>
</TD>
</TR>

</TABLE>
</CENTER>
<p>
<HR>
<P>
<P><h1><FONT FACE="Verdana" SIZE="5">Simple Blog Memo</FONT></h1>
<CENTER>
<P><TEXTAREA NAME=memolist ROWS="10" COLS="50">:$memolist:</TEXTAREA>
</CENTER>
