
<HTML>
<HEAD>
<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:"> -->
<BASE href="http://www.hotdiary.com/">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>

</HEAD>
<BODY BGCOLOR=ffffff>
<P><TABLE CELLSPACING="0" >
<TR><TD WIDTH="35%"><FONT SIZE="1"><i>Welcome :$login:</i></FONT></TD>
<TD WIDTH="85%" COLSPAN="2" ><B>:$label:</B><BR><FONT SIZE="2">:$label1:</FONT><BR><FONT SIZE="1">:$label2:</FONT></TD>
<TD ALIGN="RIGHT" WIDTH="15%"><a href="/cgi-bin/execdeploypage.cgi?biscuit=:$biscuit:&page=jhelp.html"><FONT SIZE="2" FACE="Verdana">Help</FONT></a></TD></TR></TABLE>
<FORM ACTION=":$actioncgi:" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded" NAME="post">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
