

<!-- <HR ALIGN="CENTER"> -->
<TR>
<TD WIDTH="22%" BGCOLOR="#FF0000"><FONT FACE="Verdana">Name(s)</FONT><BR><FONT SIZE="1">(Person)</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#FF0000"><INPUT TYPE="TEXT" NAME="fname" SIZE=15 MAXLENGTH="128"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Other(s)</FONT><BR> <FONT SIZE="1">(Person)</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="lname" SIZE=15 MAXLENGTH="128"></TD>
</TR>

<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Business </FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="busname" SIZE=15 MAXLENGTH="128"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">AptNo</FONT><BR><FONT SIZE="1">(SuiteNo)</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="aptno" SIZE=15 MAXLENGTH="64"></TD>
</TR>

<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Street Address</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="street" SIZE=15 MAXLENGTH="128"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">City</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="city" SIZE=15 MAXLENGTH="64"></TD>
</TR>

<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">State</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="state" SIZE="10" MAXLENGTH="64"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Zipcode</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="zipcode" SIZE="10" MAXLENGTH="64"></TD>
</TR>
<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Country</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="country" SIZE="10" MAXLENGTH="64"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Phone</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="phone" SIZE=15 MAXLENGTH="64"><!-- <IMAGE SRC="images/phone.gif" border="0"> --></TD> 
</TR>
<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"> <FONT SIZE="2">
<SELECT NAME=pagertype>
<OPTION><FONT FACE="Verdana">SkyTel Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">AirTouch Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">Nextel Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">PageMart Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">Other Pager</FONT></OPTION>
</SELECT>
</FONT>
</TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="pager" SIZE=15 MAXLENGTH="64"><!-- <IMAGE SRC="images/pager.gif" width="20" height="20" border="0"> --> </TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Fax</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="fax" SIZE=15 MAXLENGTH="64"><!-- <IMAGE SRC="images/fax.gif" border="0"> --> </TD>
</TR>
<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Cell Phone</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="cellp" SIZE=15 MAXLENGTH="64"><!-- <IMAGE SRC="images/cellphone.gif" width="25" height="25" border="0"> --> </TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">Bus. Phone</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="busp" SIZE=15 MAXLENGTH="64"><!-- <IMAGE SRC="images/phone.gif" border="0"> --> </TD>
</TR>
<TR>
<TD WIDTH="22%"  BGCOLOR="#66FFFF"><FONT FACE="Verdana">Email</FONT></TD>
<TD WIDTH="26%"  BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="email" SIZE=15 MAXLENGTH="128"></TD>
<TD WIDTH="22%" BGCOLOR="#66FFFF"><FONT FACE="Verdana">URL</FONT></TD>
<TD WIDTH="30%" BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="url" SIZE=15 MAXLENGTH="128"><!-- <IMAGE SRC="images/url.gif" width="25" height="25" border="0"> --> </TD>
</TR>

<TR>
<TD WIDTH="22%"  BGCOLOR="#66FFFF"><FONT FACE="Verdana">Birthday</FONT></TD>
<TD WIDTH="26%" BGCOLOR="#66FFFF">
<TABLE BGCOLOR="#66FFFF" BORDER="0" CELLSPACING="0" CELLPADDING="0">
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=bmonth>
<OPTION VALUE=1 SELECTED>Jan</OPTION>
<OPTION VALUE=1>Jan</OPTION><OPTION VALUE=2>Feb</OPTION>
<OPTION VALUE=3>Mar</OPTION><OPTION VALUE=4>Apr</OPTION>
<OPTION VALUE=5>May</OPTION><OPTION VALUE=6>Jun</OPTION>
<OPTION VALUE=7>Jul</OPTION> <OPTION VALUE=8>Aug</OPTION>
<OPTION VALUE=9>Sep</OPTION> <OPTION VALUE=10>Oct</OPTION>
<OPTION VALUE=11>Nov</OPTION><OPTION VALUE=12>Dec</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=bday>
<OPTION>1</OPTION><OPTION>2</OPTION> <OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION> <OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION> <OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION> <OPTION>12</OPTION>
<OPTION>13</OPTION><OPTION>14</OPTION> <OPTION>15</OPTION>
<OPTION>16</OPTION><OPTION>17</OPTION> <OPTION>18</OPTION>
<OPTION>19</OPTION><OPTION>20</OPTION> <OPTION>21</OPTION>
<OPTION>22</OPTION><OPTION>23</OPTION> <OPTION>24</OPTION>
<OPTION>25</OPTION><OPTION>26</OPTION> <OPTION>27</OPTION>
<OPTION>28</OPTION><OPTION>29</OPTION> <OPTION>30</OPTION>
<OPTION>31</OPTION>
</SELECT>
</FONT> 
</TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE=TEXT NAME="byear" SIZE="2" MAXLENGTH="4"> 
</TD>
</TR>
</TABLE>
</TD>

<!--
<TD BGCOLOR="#00FF00">
<TABLE BGCOLOR="#00FF00" CELLPADDING="0" CELLSPACING="0">
<TD BGCOLOR="#00FF00"><FONT SIZE="2" FACE="Verdana">Remind Me</FONT></TD>
<TD BGCOLOR="#00FF00"><INPUT TYPE="CHECKBOX" NAME="bdayreminder">
</TABLE>
</TD>

<TD BGCOLOR="#FF00FF">
<TABLE BGCOLOR="#FF00FF">
<TD BGCOLOR="#FF00FF"><FONT SIZE="2" FACE="Verdana">Send Greeting When it is Due</FONT></TD>
<TD BGCOLOR="#FF00FF"><INPUT TYPE="CHECKBOX" NAME="bdaygreeting">
</TABLE>
</TD>
</TABLE>
-->

<TD COLSPAN="2" WIDTH="52%" BGCOLOR="#66FFFF">
<TEXTAREA NAME="other" ROWS="4" COLS="25"></TEXTAREA>
</TD>
</TR>

<TR>
<TD BGCOLOR="#66ffff">
<FONT SIZE="3" FACE="Verdana">Autoinvite Member to HotDiary: </TD>
<TD BGCOLOR="#66ffff"><INPUT TYPE=CHECKBOX NAME="autoinvite">&nbsp;&nbsp;&nbsp; Invite Contact!</FONT>
</TD>
<TD COLSPAN="3" BGCOLOR="#66ffff">
&nbsp;
</TD>
</TR>

<!-- &nbsp; -->
<!--
<TR>
<TD WIDTH="22%" BGCOLOR="#66FFFF">
<SELECT NAME=zone>
<OPTION VALUE=:$zone: SELECTED>Pacific</OPTION>
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3B>Brazil</OPTION>
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</TD> 
<TD WIDTH="26%"></TD>
<TD WIDTH="30%"></TD>
<TD WIDTH="22%"></TD>
</TR>
-->
<!-- </CENTER> -->
