
<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">
<P><FONT FACE="Verdana"></FONT></P>

<TD WIDTH ="60%">

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="#66FFFF">
<TR>
<TD>

<TABLE>
<TR>
<TD>
<FONT FACE="Verdana" SIZE="3">Event Date</FONT>
</TD>
<TD>
<TABLE>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Month</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Day</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Year</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Frequency</FONT></TD>
</TR>
<TR>
<TD BGCOLOR="#FF0000"><FONT SIZE="2"><SELECT NAME=month>
<OPTION VALUE=:$monthnum: SELECTED>:$month:</OPTION> 
<OPTION VALUE=1>Jan</OPTION><OPTION VALUE=2>Feb</OPTION>
<OPTION VALUE=3>Mar</OPTION><OPTION VALUE=4>Apr</OPTION>
<OPTION VALUE=5>May</OPTION><OPTION VALUE=6>Jun</OPTION>
<OPTION VALUE=7>Jul</OPTION> <OPTION VALUE=8>Aug</OPTION>
<OPTION VALUE=9>Sept</OPTION> <OPTION VALUE=10>Oct</OPTION>
<OPTION VALUE=11>Nov</OPTION><OPTION VALUE=12>Dec</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=day>
<OPTION SELECTED>:$day:</OPTION>
<OPTION>1</OPTION><OPTION>2</OPTION> <OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION> <OPTION>6</OPTION> 
<OPTION>7</OPTION><OPTION>8</OPTION> <OPTION>9</OPTION> 
<OPTION>10</OPTION><OPTION>11</OPTION> <OPTION>12</OPTION> 
<OPTION>13</OPTION><OPTION>14</OPTION> <OPTION>15</OPTION> 
<OPTION>16</OPTION><OPTION>17</OPTION> <OPTION>18</OPTION> 
<OPTION>19</OPTION><OPTION>20</OPTION> <OPTION>21</OPTION> 
<OPTION>22</OPTION><OPTION>23</OPTION> <OPTION>24</OPTION> 
<OPTION>25</OPTION><OPTION>26</OPTION> <OPTION>27</OPTION> 
<OPTION>28</OPTION><OPTION>29</OPTION> <OPTION>30</OPTION> 
<OPTION>31</OPTION>
</SELECT>
</FONT>
</TD>
<TD  BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=year>
<OPTION>2000</OPTION>
<OPTION>2001</OPTION><OPTION>2002</OPTION> 
<OPTION>2003</OPTION><OPTION>2004</OPTION> 
<OPTION>2005</OPTION><OPTION>2006</OPTION> 
<OPTION>2007</OPTION><OPTION>2008</OPTION> 
<OPTION>2009</OPTION><OPTION>2010</OPTION> 
<OPTION>2011</OPTION><OPTION>2012</OPTION> 
<OPTION>2013</OPTION><OPTION>2014</OPTION> 
<OPTION>2015</OPTION><OPTION>2016</OPTION> 
<OPTION>2017</OPTION><OPTION>2018</OPTION> 
<OPTION>2019</OPTION><OPTION>2020</OPTION> 
</SELECT>
</FONT>
</TD> 
<TD BGCOLOR="#66FFFF"><P><FONT SIZE="2"><SELECT NAME=recurtype>
<OPTION>Once
<OPTION>Daily
<OPTION>Weekly
<OPTION>Monthly
<OPTION>Yearly
</SELECT>
</FONT>
</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

</TD>
</TR>

<TR>
<TD>

<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">
<TR>
<TD BGCOLOR="#66FFFF">
<FONT SIZE="3" FACE="Verdana">Event Time</FONT>
</TD>

<TD>
<TABLE>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Hours</FONT><BR><FONT FACE="Verdana"></TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Mins</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Meridian</TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Time Zone</TD>
</TR>
<TR>
<TD  BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=hour>
<OPTION>1</OPTION><OPTION>2</OPTION><OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION><OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION><OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION><OPTION>12</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=min>
<OPTION>0</OPTION><OPTION>10</OPTION><OPTION>20</OPTION>
<OPTION>30</OPTION><OPTION>40</OPTION><OPTION>50</OPTION>
</SELECT>
</FONT>
</TD>
<TD  BGCOLOR="#66FFFF"><P><FONT SIZE="2"><SELECT NAME=meridian>
<OPTION>PM </OPTION>
<OPTION>AM </OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><P><FONT SIZE="2"><SELECT NAME=zone>
<OPTION VALUE=:$zone: SELECTED>:$zonestr:</OPTION> 
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3B>Brazil</OPTION>
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</FONT>
</TD>
</TR> 
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
</TR>

</TABLE>

<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">
<TR>
<TD>

<TABLE>
<TR>
<TD BGCOLOR="#66FFFF">
<FONT SIZE="3" FACE="Verdana">Duration</FONT>
</TD>
<TD>
<TABLE>
<TR>
<TD BGCOLOR="#66FFFF"><FONT FACE="Verdana">Hours</FONT><BR><FONT FACE="Verdana">
</TD>
<TD BGCOLOR="#66FFFF"><FONT FACE="Verdana">Mins</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT FACE="Verdana">Event Type</FONT></TD>
<TD BGCOLOR="#66FFFF"><FONT FACE="Verdana">Alarm Type</FONT></TD>
</TR>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=dhour>
<OPTION>1</OPTION><OPTION>2</OPTION><OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION><OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION><OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION><OPTION>12</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=dmin><
<OPTION>0</OPTION><OPTION>10</OPTION><OPTION>20</OPTION>
<OPTION>30</OPTION><OPTION>40</OPTION><OPTION>50</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><P><FONT SIZE="2"><SELECT NAME=dtype>
<OPTION SELECTED>Holiday</OPTION>
<OPTION>Anniversary</OPTION>
<OPTION>Movie</OPTION>
<OPTION>Games</OPTION>
<OPTION>BBQ</OPTION>
<OPTION>Festival</OPTION>
<OPTION>Reunion</OPTION>
<OPTION>Birthday </OPTION>
<OPTION>Meeting </OPTION>
<OPTION>Party</OPTION>
<OPTION>Conference</OPTION>
<OPTION>Parental</OPTION>
<OPTION>Picnic</OPTION>
<OPTION>Doctor</OPTION>
<OPTION>Concerts</OPTION>
<OPTION>Pay Bills</OPTION>
<OPTION>Graduation</OPTION>
<OPTION>Chat</OPTION>
<OPTION>TV Program</OPTION>
<OPTION>Interview</OPTION>
<OPTION>SendRequest</OPTION>
<OPTION>PhoneCall</OPTION>
<OPTION>SendEmail</OPTION>
<OPTION>Shopping</OPTION>
<OPTION>MailLetter</OPTION>
<OPTION>Other</OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><P><FONT SIZE="2"><SELECT NAME=atype>
<OPTION>Email </OPTION>
<OPTION>VoiceMail</OPTION>
<OPTION>Pager</OPTION>
<OPTION>Fax</OPTION>
</SELECT>
</FONT>
</TD>
</TR> 
</TABLE>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<P><FONT SIZE="3" FACE="Verdana">Description</FONT></P>
<P><TEXTAREA NAME="desc" ROWS="5" COLS="45"></TEXTAREA></P>
</TD>
</TABLE>
