<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<meta name=keywords content="free, download, calendar, secure, ecommerce, e-commerce, publish, ISP, hosting, news, submit, press, release, promotion, service, public, provider, reminder, community, address, book, appointment, pager, fax, server, daily, monthly, weekly, yearly, vCalendar, vCard, chat, group, personal, organizer, contact, manager, english, word, list, memo, directory, to-do, planner, schedule, PIM, diary, business, cards, PDA, collaborate, event, meeting, self-populating, self-updating, virtual, communities">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4">NewsDiary Press Releases</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<HR BGCOLOR=dddddd size=1>

<BR>
<CENTER>
<FONT FACE=Verdana SIZE=2>
<a href="/">HotDiary</a> - <a href="/quikregister.html">QuikRegister</a> - <a href="/jiveitb2b.html">Webmaster Portal Tools</a> - <a href="submitpress.html">Promote Your Business</a> - <a href="/contract.html">My Outsourcing</a>
</FONT>
</CENTER>

<BR>
<p><p>

<CENTER>

<a href=http://www.hotdiary.com/cgi-bin/adbanner/execshowsite?member=hotdiary&page=53>
 <IMG SRC=http://www.hotdiary.com/cgi-bin/adbanner/execshowbanner?member=hotdiary&page=53></a>

<p><p>

<TABLE BORDER=0 BGCOLOR=000000 CELLSPACING=0 CELLPADDING=1 WIDTH="75%">
<TR BGCOLOR=000000 WIDTH="100%">
<TD BGCOLOR=000000 WIDTH="100%">
:$toc:
</TD>
</TR>
</TABLE>

<p>

<p ALIGN=LEFT>
<IMG SRC="http://www.metacrawler.com/images/mc_results.gif">
<!-- START MC box -->
<form action="http://search.metacrawler.com/crawler" method="get">&nbsp;
<table cellpadding="3" cellspacing="0" border="0" width="420">
<tr bgcolor="#FFCC33">
<td width="222" rowspan="3" align="center">
<a href="http://www.metacrawler.com/"><img src="http://images.go2net.com/metacrawler/images/new2_mc.gif" width="202" height="39" border="0" alt="[ MetaCrawler&reg; ]"></a></td>
<td>&nbsp;</td>
<td>
<font size="1" face="geneva, arial, helvetica"><a href="http://www.metacrawler.com/help/faq/">Search Tips</a></font>
</td></tr>
<tr bgcolor="#FFCC33">
<td valign="top"><input type="text" name="general" value="" size="27"></td>
<td valign="top"><input value="Search" type="submit"></td>
</tr>
<tr bgcolor="#FFCC33">
<td valign="top">
<font size="2" face="geneva, arial, helvetica">
<input type="radio" name="method" value="1"> any
&nbsp;<input type="radio" name="method" value="0" checked> all
&nbsp;<input type="radio" name="method" value="2"> phrase
</font><br></td>
<td valign="top">
<select name="redirect">
<option value="web">The Web
<option value="opendir">Directory
<option value="audio">Audio/MP3
<option value="images">Images
<option value="dejanews">Newsgroups
<option value="auctions">Auctions
</select></td></tr>
<tr bgcolor="#FFCC33">
<td colspan="3" height="10">
<input type="hidden" name="refer" value="mc-box">
</td>
</tr>
</table>
</form>
<!-- END MC box -->

</p>


</CENTER>

</BODY>
</HTML>
