
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>
<!--
<FORM METHOD=POST ACTION="https://secure.authorize.net/gateway/transact.dll">
-->
<FORM METHOD=POST ACTION="/cgi-bin/execpurchasecontract.cgi">

     <INPUT TYPE=HIDDEN NAME="x_Version" VALUE="3.0">
     <INPUT TYPE=HIDDEN NAME="x_Login" VALUE="hotdiary">
     <INPUT TYPE=HIDDEN NAME="x_Show_Form" VALUE="PAYMENT_FORM">
     <INPUT TYPE=HIDDEN NAME="x_Cust_ID" VALUE=":$login:">
     <INPUT TYPE=HIDDEN NAME="x_Invoice_Num" VALUE=":$invoicenum:">
     <INPUT TYPE=HIDDEN NAME="login" VALUE=":$login:">
     <INPUT TYPE=HIDDEN NAME="password" VALUE=":$password:">

<CENTER>

<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%"><a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/hdlogo.gif" BORDER="0"></a></TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4">HotDiary software development services </FONT>
<BR>
</CENTER>
</TD>
<TD WIDTH="15%">
&nbsp;
</TD>          
</TR>
</TABLE>
</CENTER>
<HR BGCOLOR=dddddd size=1>

<CENTER>
<IMG SRC="http://www.hotdiary.com/images/visa.gif">
<IMG SRC="http://www.hotdiary.com/images/mcard.gif">
</CENTER>
<FONT FACE="Verdana" SIZE=2>You will be taken to a secure site for payments</FONT>
<BR>
<FONT FACE="Verdana" SIZE=2>:$amount: for software development registration</FONT>
<CENTER>
<BR>
<TABLE WIDTH="60%" CELLPADDING=0 CELLSPACING=5>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Enter details of the contract</FONT><BR>
<FONT FACE=Verdana SIZE=1>Details of software, software requirements(Java, database, web server etc)<BR>duration of the project, other such details</FONT>
</TD>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>
<TEXTAREA NAME=contractdesc ROWS=5 COLS=40></TEXTAREA>
</FONT>
</TD>
</TR>

</TABLE>

<CENTER>
<INPUT TYPE=HIDDEN NAME="x_Description" VALUE="description">
<INPUT TYPE=HIDDEN NAME="x_Amount" VALUE="100">
<INPUT TYPE="SUBMIT" NAME="submit" VALUE="Proceed to register for contract">
</CENTER>


</TABLE>
</TABLE>
</CENTER>
<BR><BR><BR>

</FORM>

</BODY>
</HTML>


