
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>
<!--
<FORM METHOD=POST ACTION="https://secure.authorize.net/gateway/transact.dll">
-->
<FORM METHOD=POST ACTION="/cgi-bin/execpurchaseadspace.cgi">

     <INPUT TYPE=HIDDEN NAME="x_Version" VALUE="3.0">
     <INPUT TYPE=HIDDEN NAME="x_Login" VALUE="hotdiary">
     <INPUT TYPE=HIDDEN NAME="x_Show_Form" VALUE="PAYMENT_FORM">
     <INPUT TYPE=HIDDEN NAME="x_Cust_ID" VALUE=":$login:">
     <INPUT TYPE=HIDDEN NAME="x_Invoice_Num" VALUE=":$invoicenum:">
     <INPUT TYPE=HIDDEN NAME="login" VALUE=":$login:">
     <INPUT TYPE=HIDDEN NAME="password" VALUE=":$password:">

<CENTER>

<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%"><a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/hdlogo.gif" BORDER="0"></a></TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4">Advertise Your Company On HotDiary</FONT>
<BR>
</CENTER>
</TD>
<TD WIDTH="15%">
&nbsp;
</TD>          
</TR>
</TABLE>
</CENTER>
<HR BGCOLOR=dddddd size=1>

<CENTER>
<IMG SRC="http://www.hotdiary.com/images/visa.gif">
<IMG SRC="http://www.hotdiary.com/images/mcard.gif">
</CENTER>
<FONT FACE="Verdana" SIZE=2>You will be taken to a secure site to purchase impressions on HotDiary</FONT>
<BR>
<FONT FACE="Verdana" SIZE=2>To purchase, click on proceed to purchase</FONT>
<CENTER>
<BR>
<TABLE WIDTH="60%" CELLPADDING=0 CELLSPACING=5>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Select the Category in which you would like to display the banner</FONT>
</TD>
<TD>
<SELECT NAME=category VALUE=ISP>
<OPTION>ISP
<OPTION>Web Hosting
<OPTION>URL Forwarding
<OPTION>Developer Tools
<OPTION>Co-Location Services
<OPTION>Web Mail
<OPTION>ASP
<OPTION>Web Master Tools
<OPTION>Web Directory
<OPTION>News
<OPTION>Weather
<OPTION>Maps
<OPTION>People Search
<OPTION>Yellow Pages
<OPTION>White Pages
</SELECT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>URL Of Your Company Site</FONT>
</TD>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>
<TEXTAREA NAME=url ROWS=3 COLS=50></TEXTAREA>
</FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Banner You Would Like To Display</FONT>
</TD>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>
<TEXTAREA NAME=banner ROWS=5 COLS=50></TEXTAREA>
</FONT>
</TD>
</TR>

<TR>  
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>1000 Impressions</FONT><BR>
<FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price $12<FONT> 
</B>
</TD>
<TD>
<INPUT TYPE=HIDDEN NAME="x_Description" VALUE="1000 Impressions">
<INPUT TYPE=HIDDEN NAME="x_Amount1" VALUE="12">
<INPUT TYPE="SUBMIT" NAME="submit1" VALUE="Proceed To Purchase">
</TD>
</TR>

<TR>
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>2000 impressions</FONT><BR>
 <FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price US $24</FONT> 
</B>
</TD>
<TD>
<INPUT TYPE=HIDDEN NAME="x_Description" VALUE="2,000 impressions">
<INPUT TYPE=HIDDEN NAME="x_Amount2" VALUE="24">
<INPUT TYPE="SUBMIT" NAME="submit2" VALUE="Proceed To Purchase">
</TD>
</TR>

<TR>
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>5,000 Impressions </FONT><BR>
<FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price US $60</FONT>
</B>
</TD>
<TD>
<INPUT TYPE="SUBMIT" NAME="submit3" VALUE="Proceed To Purchase">
</TD>
</TR>

<TR>
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>20,000 impressions</FONT><BR>
<FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price US $240</FONT>
</B>
</TD>
<TD>
<INPUT TYPE="SUBMIT" NAME="submit4" VALUE="Proceed To Purchase">
</TD>
</TR>

<TR>
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>50,000 impressions</FONT><BR>
<FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price US $600</FONT>
</B>
</TD>
<TD>
<INPUT TYPE="SUBMIT" NAME="submit5" VALUE="Proceed To Purchase">
</TD>
</TR>

<TR>
<TD ALIGN=LEFT>
<B>
<FONT FACE=Verdana SIZE=3 COLOR=f20236>100,000 impressions</FONT><BR>
<FONT FACE=Verdana SIZE=2 COLOR=0f0f5f>Price US $1200</FONT>
</B>
</TD>
<TD>
<INPUT TYPE="SUBMIT" NAME="submit6" VALUE="Proceed To Purchase">
</TD>
</TR>

</TABLE>
</TABLE>
</TABLE>
</CENTER>
<BR><BR><BR>

</FORM>

</BODY>
</HTML>


