<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<meta name=keywords content="portal free calendar server organizer group reminder diary download planner memo to-do to do schedule appointment list instant b2b business2business business-to-business business team project corporate web intranet asp online office contact manager conflict resolution party secure ecommerce e-commerce meeting event publish ISP hosting news calandar submit press release promotion service public calender community address book organiser pager fax daily monthly weekly yearly personal PIM collaborate virtual communities">
<meta name=description content="Free Internet Organizer For Individuals And Businesses. Includes Calendar, Contact Manager, B2B Planner, File Planner, Party Planner, and Communication using Pager, Fax, and Email">
<meta http-equiv=Content-language content=en-US>
<meta name=robots content="index, follow">
<meta name=revisit-after content="10 days">
</HEAD>

<BODY BGCOLOR=ffffff>
<FORM ACTION="http://www.hotdiary.com/cgi-bin/execquadtrafsubmit.cgi" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">

<CENTER>
<TABLE WIDTH="80%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>

<TD>
<IMG SRC="http://www.hotdiary.com/images/newhdlogo.gif" ISMAP USEMAP="#officemap" BORDER=0>
</TD>

</TR>

<TR>
<TD>

<TABLE WIDTH="82%" BORDER=5 BORDERCOLOR=ee0055 CELLPADDING=4 CELLSPACING=0>
<TR>
<TD WIDTH="82%">

<P ALIGN="CENTER">
<SPACER TYPE="VERTICAL" SIZE="30">
</P>
<CENTER>
<h4>Describe Your Site And Contact</h4>

<FONT FACE=Verdana SIZE=2>
<TABLE WIDTH="100%" CELLSPACING=5 CELLPADDING=0 BORDER=0>

<TR>
<TD>URL</TD>
<TD><INPUT TYPE=text NAME=url SIZE=30></TD>
</TR>

<TR>
<TD>Hits/Day</TD>
<TD><INPUT TYPE=text NAME=hits SIZE=30></TD>
</TR>

<TR>
<TD>Site Description</TD>
<TD><TEXTAREA NAME=desc COLS=30 ROWS=5></TEXTAREA></TD>
</TR>

<TR>
<TD>Contact</TD>
<TD><INPUT TYPE=text NAME=contact SIZE=30></TD>
</TR>

<TR>
<TD>Phone</TD>
<TD><INPUT TYPE=text NAME=phone SIZE=30></TD>
</TR>

<TR>
<TD>Email</TD>
<TD><INPUT TYPE=text NAME=email SIZE=30></TD>
</TR>

<TR>
<TD ALIGN=CENTER COLSPAN=2>
<INPUT TYPE=SUBMIT NAME=Submit>
</TD>
</TR>
</TABLE>

<FONT SIZE=1>
<h3>Disclaimer</h3>
<i>
This package is most effective when applied to sites getting traffic
between 100 and 50,000 hits a day. If you are getting more than
50,000 hits a day, chances are, that you are already on the right
track and do not need our help. We do not really gaurantee you
any results. We simply offer you a refund if you do not see the
traffic quadruple. We are not liable for any loss, damage or
unmet expectations for your site's traffic patterns. By using
this service, you agree to idemnify HotDiary from any consequences
which may affect your company negatively. 
</i>
</FONT>


</FONT>

</TD>
</TR>
</TABLE>

</TD>
</TR>

</TABLE>

</CENTER>

<MAP name="officemap">
<AREA SHAPE=RECT COORDS="9,10 56,39" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="158,7 254,37" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="351,53 423,82" href="/signin.html" ALT="Login To HotDiary">
<AREA SHAPE=RECT COORDS="19,39 323,102" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="20,105 209,163" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="215,162 323,177" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="210,103 489,160" href="/go_portal.html" ALT="JazzIt! Portal Management Tools">
<AREA SHAPE=RECT COORDS="6,164 213,178" href="/mydowntown.html" ALT="JazzIt! Portal Management Tools">
<AREA SHAPE=RECT COORDS="7,180 171,278" href="/mydowntown.html" ALT="Business-To-Business Planning">
<AREA SHAPE=RECT COORDS="175,204 221,280" href="/mydowntown.html" ALT="Business-To-Business Planning">
<AREA SHAPE=RECT COORDS="174,177 357,205" href="/jiveit_website.html" ALT="JiveIt! Site Builder">
<AREA SHAPE=RECT COORDS="233,237 353,259" href="/quikregister.html" ALT="Enter Your Email & Register">
<AREA SHAPE=RECT COORDS="369,180 496,298" href="/partner_with_us.html" ALT="Partnership Alliances">
</MAP>

</FORM>
</BODY>
</HTML>
