<HTML>
<HEAD>
<BASE href="http://www.hotdiary.com/">
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <META HTTP-EQUIV="Refresh" CONTENT="0; URL=:$redirecturl:">
</HEAD>
<BODY BGCOLOR=ffffff>
<TABLE BORDER=0 BORDERCOLOR=0000ff WIDTH="100%" HEIGHT="100%" CELLSPACING=0 CELLPADDING=0>
<TR>
<TD VALIGN=CENTER ALIGN=CENTER>
<FONT FACE=Verdana><h5><a href=":$redirecturl:">Please click here if your browser does not refresh automatically...</a></h5></FONT>
</TD>
</TR>
</TABLE>
</BODY>
</HTML>
