<HTML>
<HEAD>
</HEAD>
<BODY BGCOLOR=ffffff>
<CENTER>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">

<TR>

<TD WIDTH="15%">
<a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/newhdlogo.gif" BORDER=0></a>
</TD>

<TD WIDTH="85%" ALIGN=CENTER>
<h3>Welcome To :$title:</h3>
</TD>
</TR>
</TABLE>

<HR>

</CENTER>

<LEFT>
<IMG SRC="http://www.hotdiary.com/images/calendar.gif">
</LEFT>

<CENTER>
<FONT FACE=Verdana SIZE=3>
Dear :$login:,
<p ALIGN=JUSTIFY>
Congratulations for choosing :$title: as your web organizer.
:$title: is more than just an organizer. It has all kinds of
portal tools for your personal and business needs. New features
are addded every week.
</p>

<p ALIGN=JUSTIFY>
The information below summarizes your current account. Please
take a look at this information, and if it needs to be updated,
you can login to :$title: at any time and click on the Profile
link. Also, please save this email for your future reference 
as it contains important information including your login, and
password and email address.
</FONT>

<BR>
<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=5 BORDERCOLOR="ff00ff" WIDTH="75%">

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Login</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$login: &nbsp;</FONT>
</TD>
</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Password</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$password: &nbsp;</FONT>
</TD>
</TR>


<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Email</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$email: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Activation Code</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3><b>:$acode:</b> &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Host Company/Partner</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3><B>:$title:</B> &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Company Domain</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$vdomain: &nbsp;</FONT>
</TD>

</TR>

</TABLE>

<p>
<a href=http://www.hotdiary.com/teltalk.html><IMG SRC="http://www.hotdiary.com/images/teltalk_new.gif" BORDER=0></a><FONT FACE=Verdana SIZE=3>Empower Yourself With HotDiary TelTalk Communications Service</FONT>

<p>
<HR>

</CENTER>

<p>
<FONT FACE=Verdana SIZE=3>
<a href="http://www.hotdiary.com">http://www.hotdiary.com</a>
<BR>
HotDiary - The New Generation Internet Organizer
</FONT>

<p>
<CENTER>
<a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/dotcombanner.gif" BORDER=0></a>
</CENTER>

<IMG SRC="http://www.hotdiary.com/cgi-bin/execregletter.cgi?member=:$login:">

</BODY>
</HTML>
