<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execsavenotes.cgi" METHOD="POST" :$formenc:>

<INPUT TYPE=TEXT NAME=biscuit>
<INPUT TYPE=TEXT NAME=jp>
<INPUT TYPE=TEXT NAME=desc>
<INPUT TYPE=TEXT NAME=subject>
<INPUT TYPE=TEXT NAME=entry>
<INPUT TYPE=TEXT NAME=edit>
<INPUT TYPE=TEXT NAME=g>
<INPUT TYPE=TEXT NAME=CGISUBDIR>
<INPUT TYPE=TEXT NAME=rh>
<INPUT TYPE=TEXT NAME=HTTPSUBDIR>
<INPUT TYPE=TEXT NAME=hs>
<INPUT TYPE=TEXT NAME=SERVER_NAME>
<INPUT TYPE=TEXT NAME=vdomain>
<INPUT TYPE=TEXT NAME=HDLIC>
<INPUT TYPE=TEXT NAME=os>
<FONT FACE=Verdana SIZE=3><INPUT TYPE=SUBMIT NAME=save VALUE=Save></FONT>

</FORM>
</BODY>
</HTML>
