<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execsavememo.cgi" METHOD="POST" :$formenc:>
<INPUT TYPE=TEXT NAME=biscuit>
<INPUT TYPE=TEXT NAME=jp>
<INPUT TYPE=TEXT NAME=entry>
<INPUT TYPE=TEXT NAME=edit>
<INPUT TYPE=TEXT NAME=g>
<INPUT TYPE=TEXT NAME=CGISUBDIR>
<INPUT TYPE=TEXT NAME=rh>
<INPUT TYPE=TEXT NAME=HTTPSUBDIR>
<INPUT TYPE=TEXT NAME=hs>
<INPUT TYPE=TEXT NAME=SERVER_NAME>
<INPUT TYPE=TEXT NAME=vdomain>
<INPUT TYPE=TEXT NAME=HDLIC>
<INPUT TYPE=TEXT NAME=os>
<INPUT TYPE=TEXT NAME=subject VALUE=":$subject:">
<INPUT TYPE=TEXT NAME=desc>
<INPUT TYPE=TEXT NAME=priority>
<INPUT TYPE=TEXT NAME=status>
<INPUT TYPE=TEXT NAME=month>
<INPUT TYPE=TEXT NAME=day>
<INPUT TYPE=TEXT NAME=year>
<INPUT TYPE=SUBMIT NAME=save>

</FORM>
</BODY>
</HTML>
