
<!-- top table row -->
<TR>
<!--Table search fax deposit entry -->

<!-- checkbox table definiton -->
<TD WIDTH="100%"><TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" BGCOLOR="#FFCCCC">

<!-- checkbox table first row -->
<TR>
<TD WIDTH="3%" BGCOLOR="#FF0011"><INPUT TYPE="CHECKBOX" NAME=":$checkboxfield:"> 
<INPUT TYPE="HIDDEN" NAME=":$entrynfield:" SIZE="-1" 
VALUE=":$entryno:"></TD>

<TD WIDTH="97%">

<!- field table defintion -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" BGCOLOR="#FFFF99">

<!-- field table Ist row -->
<TR>
<TD WIDTH="25%"><FONT FACE="Verdana">User Login</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$userlogin:" SIZE="20" 
MAXLENGTH="20" VALUE=":$userlogin:"></TD>
<TD WIDTH="25%"><FONT FACE="Verdana">Deposit</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$deposifield:" SIZE="20"
MAXLENGTH="20" VALUE=":$deposit:"></TD>
</TR>

<TR>
<TD WIDTH="25%"><FONT FACE="Verdana">Date</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$datfield:" SIZE="20" 
MAXLENGTH="128" VALUE=":$date:"></TD>
</TR>
</TABLE>  <!-- field table end -->
</TD> <!-- checkbox table Ist TD end -->
</TR> <!-- checkbox table Ist row end -->
</TABLE> <!-- checkbox table end -->
</TR> <!-- end of the  top table row -->



