<TR>
<TD ALIGH="TOP" WIDTH="3%">
<INPUT TYPE="CHECKBOX" NAME=":$checkboxfield:"> 
<INPUT TYPE="HIDDEN" NAME=":$entrynfield:" SIZE="-1" VALUE=":$entryno:">
<INPUT TYPE="HIDDEN" NAME=":$grouptypefield:" SIZE="-1" VALUE=":$grouptype:">
<INPUT TYPE="HIDDEN" NAME=":$groupnamefield:" SIZE="-1" VALUE=":$groupname:">
</TD>
<TD WIDTH="97%">
<TABLE BORDER="0" WIDTH="100%">
<TR>
<!-- <TD><b>Group Name</b>:$groupfounder:</b></TD> -->
</TR>
<TR BGCOLOR="ff00ff">
<TD><FONT FACE="Verdana" SIZE="2"><b>Group Name: </b>:$groupname:</TD></FONT>
<!--
<TD><INPUT TYPE="TEXT" NAME=":$groupnamefield:" SIZE="20" MAXLENGTH="20" VALUE=":$groupname:"></TD>
-->
</TR>
<TR BGCOLOR="dddddd">
<TD><FONT FACE="Verdana" SIZE="2"><b>Group Title: </b>:$grouptitle:</TD></FONT>
<!--
<TD><INPUT TYPE="TEXT" NAME=":$grouptitlefield:" SIZE="50" MAXLENGTH="64" VALUE=":$grouptitle:"></TD>
-->
</TR>
<TR BGCOLOR="dddddd">
<TD><FONT FACE="Verdana" SIZE="2"><b>Group Charter: </b>:$groupdesc:</TD></FONT>
<!--
<TD><TEXTAREA NAME=":$groupdescfield" ROWS="5" COLS="50">:$groupdesc:</TEXTAREA></TD>
-->
</TR>
</TABLE>
</TD>
</TR>
