
<HTML>
<HEAD>
<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:"> -->
<BASE href="http://www.hotdiary.com/">
<TITLE>HotDiary - Personal & Business Application Service Provider, Reminders Address Book Calendar Organizer PIM Memo To-Do Pager Fax Groups Planner Appointments Free</TITLE>
</HEAD>
<!-- <BODY BACKGROUND="images/pad.gif"> -->
<BODY BGCOLOR=ffffff>
<CENTER>
<FONT SIZE="4" FACE="Verdana"> :$label: </FONT><BR>
<FONT SIZE="2" FACE="Verdana"> :$label1: </FONT>
<p>
:$pagenumber:
</CENTER>
<FORM ACTION=":$actioncgi:" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded" NAME="post">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">

