<TR>
<TABLE BORDER="6" CELLPADDING="0" CELLSPACING="0" BACKGROUND="http://www.hotdiary.com/images/balloon.gif">
<TR>
<TD WIDTH="3%"><INPUT TYPE="CHECKBOX" NAME=":$checkboxfield:">
<INPUT TYPE="HIDDEN" NAME=":$entrynfield:" SIZE="-1"
VALUE=":$entryno:"></TD>

<TD WIDTH="60%"> 
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">

<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">
<TR>
<TD><FONT SIZE="3" FACE="Verdana">Month</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Day</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Year</FONT></TD>
</TR>
<TR>
<TD ><FONT SIZE="2"><SELECT NAME=":$montfield:">
<OPTION VALUE=:$monthnum: SELECTED>:$month:</OPTION>
<OPTION VALUE=1>Jan</OPTION><OPTION VALUE=2>Feb</OPTION>
<OPTION VALUE=3>Mar</OPTION><OPTION VALUE=4>Apr</OPTION>
<OPTION VALUE=5>May</OPTION><OPTION VALUE=6>Jun</OPTION>
<OPTION VALUE=7>Jul</OPTION> <OPTION VALUE=8>Aug</OPTION>
<OPTION VALUE=9>Sept</OPTION> <OPTION VALUE=10>Oct</OPTION>
<OPTION VALUE=11>Nov</OPTION><OPTION VALUE=12>Dec</OPTION>
</SELECT>
</FONT>
</TD>
<TD ><FONT SIZE="2"><SELECT NAME=":$dafield:">
<OPTION SELECTED>:$day:</OPTION>
<OPTION>1</OPTION><OPTION>2</OPTION> <OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION> <OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION> <OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION> <OPTION>12</OPTION>
<OPTION>13</OPTION><OPTION>14</OPTION> <OPTION>15</OPTION>
<OPTION>16</OPTION><OPTION>17</OPTION> <OPTION>18</OPTION>
<OPTION>19</OPTION><OPTION>20</OPTION> <OPTION>21</OPTION>
<OPTION>22</OPTION><OPTION>23</OPTION> <OPTION>24</OPTION>
<OPTION>25</OPTION><OPTION>26</OPTION> <OPTION>27</OPTION>
<OPTION>28</OPTION><OPTION>29</OPTION> <OPTION>30</OPTION>
<OPTION>31</OPTION>
</SELECT>
</FONT>
</TD>
<TD ><FONT SIZE="2"><SELECT NAME=":$yeafield:">
<OPTION SELECTED>:$year:</OPTION>
<OPTION>2009</OPTION>
<OPTION>2008</OPTION>
<OPTION>2007</OPTION>
<OPTION>2006</OPTION>
<OPTION>2005</OPTION>
<OPTION>2004</OPTION>
<OPTION>2003</OPTION>
<OPTION>2002</OPTION>
<OPTION>2001</OPTION>
</SELECT>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">

<TR>
<TD><FONT SIZE="3" FACE="Verdana">Hour</FONT> </TD>
<TD><FONT SIZE="3" FACE="Verdana">Min</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Meridian</FONT></TD> 
<TD><FONT SIZE="3" FACE="Verdana">Time Zone</TD>
</TR>
<TR>
<TD><FONT SIZE="2"><SELECT NAME=":$houfield:">
<OPTION SELECTED>:$hour:</OPTION>
<OPTION>1</OPTION><OPTION>2</OPTION><OPTION>3</OPTION>
<OPTION>4</OPTION><OPTION>5</OPTION><OPTION>6</OPTION>
<OPTION>7</OPTION><OPTION>8</OPTION><OPTION>9</OPTION>
<OPTION>10</OPTION><OPTION>11</OPTION><OPTION>12</OPTION>
</SELECT>
</FONT>
</TD>
<TD ><FONT SIZE="2"><SELECT NAME=":$mifield:">
<OPTION SELECTED>:$min:</OPTION>
<OPTION>0</OPTION><OPTION>10</OPTION><OPTION>20</OPTION>
<OPTION>30</OPTION><OPTION>40</OPTION><OPTION>50</OPTION>
</SELECT>
</FONT>
</TD>
<TD ><P> <FONT SIZE="2"><SELECT NAME=":$meridiafield:">
<OPTION SELECTED>:$meridian: </OPTION>
<OPTION>AM </OPTION> <OPTION>PM </OPTION>
</SELECT>
</FONT>
</TD>

<TD ><P> <FONT SIZE="2"><SELECT NAME=":$zonfield:">
<OPTION VALUE=:$zone: SELECTED>:$zonestr: </OPTION>
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3>Brazil</OPTION>
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7T>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=11>C.Pacific</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</FONT>
</TD>
</TR>
</TABLE>


<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">

<TR>
<TD><FONT SIZE="3" FACE="Verdana">Hour</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Min</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Event Type</FONT></TD>
<TD><FONT SIZE="3" FACE="Verdana">Alarm Type</FONT></TD>
</TR>
<TR>
<TD><INPUT TYPE="TEXT" NAME=":$dhoufield:" SIZE="2"
MAXLENGTH="2" VALUE=":$dhour:"></TD>
<TD ><INPUT TYPE="TEXT" NAME=":$dmifield:" SIZE="2"
MAXLENGTH="2" VALUE=":$dmin:"></TD>
<TD> <FONT SIZE="2"> 
<SELECT NAME=":$dtypfield:">
<OPTION SELECTED>:$dtype:</OPTION>
<OPTION>Anniversary </OPTION> <OPTION>Holiday</OPTION> <OPTION>Movie</OPTION>
<OPTION>Games</OPTION> <OPTION>BBQ</OPTION> <OPTION>Festival</OPTION>
<OPTION>Reunion</OPTION> <OPTION>Birthday </OPTION> <OPTION>Meeting </OPTION>
<OPTION>Party</OPTION> <OPTION>Conference</OPTION> 
<OPTION>Picnic</OPTION> <OPTION>Concerts</OPTION><OPTION>Other</Option>
</SELECT>
</FONT>
</TD>
<TD ><FONT SIZE="2"><SELECT NAME=":$atypfield:">
<OPTION SELECTED>:$atype: </OPTION>
<OPTION>Email </OPTION> <OPTION>VoiceMail </OPTION> <OPTION>Pager </OPTION>
<OPTION>Fax</OPTION>
</SELECT>
</FONT>
</TD>
</TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="8" CELLSPACING="0">
<TR>
<TD><FONT SIZE="3" FACE="Verdana">Subject</TD> 
<TD><FONT SIZE="3" FACE="Verdana">Distribution List</TD>
</TR>
<TR>
<TD><INPUT TYPE="TEXT" NAME=":$subjecfield:" SIZE="20" 
MAXLENGTH="64" VALUE=":$subject:"></TD>
<TD><INPUT TYPE="TEXT" NAME=":$distributiofield:" SIZE="20" 
MAXLENGTH="256" VALUE=":$distribution:"></TD>
</TR>
</TABLE>


<DL>
<FONT SIZE="3" FACE="Verdana">Allow invitees to edit Collabrum:
<INPUT TYPE="CHECKBOX" NAME=":$colledifield:" 
:$colledit:>
</DL>

<FONT SIZE="3" FACE="Verdana">Description</FONT><BR>
<TEXTAREA NAME=":$desfield:"  ROWS="5" 
COLS="45">:$desc:</TEXTAREA>
</TD> <!-- checkbox table Ist TD -->
</TR> <!-- checkbox table Ist row -->
</TABLE> <!--- checkbox table end -->
</TR> <!-- end of the top table row -->
