
<!-- top table row -->
<TR>
<!--Table search address entry -->

<!-- checkbox table definiton -->
<TD WIDTH="100%">
<TABLE BORDER="6" CELLPADDING="0" CELLSPACING="0" BGCOLOR="#66FFFF">

<!-- checkbox table first row -->
<TR>
<TD WIDTH="3%" BGCOLOR="#FF0011"><INPUT TYPE="CHECKBOX" NAME=":$checkboxfield:"> 
<INPUT TYPE="HIDDEN" NAME=":$entrynfield:" SIZE="-1" 
VALUE=":$entryno:"></TD>

<TD WIDTH="97%">

<!- field table defintion -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="#66FFFF">

<!-- field table Ist row -->
<TR>
<TD WIDTH="25%"><FONT FACE="Verdana">First Name</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$fnamfield:" SIZE="20" 
MAXLENGTH="20" VALUE=":$fname:"></TD>
<TD WIDTH="25%"><FONT FACE="Verdana">Last Name</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$lnamfield:" SIZE="20"
MAXLENGTH="20" VALUE=":$lname:"></TD>
</TR>

<TR>
<TD WIDTH="25%"><FONT FACE="Verdana"> Member ID</FONT></TD>
<TD WIDTH="25%"><INPUT TYPE="TEXT" NAME=":$logaccounfield:" SIZE="20" 
MAXLENGTH="128" VALUE=":$logaccount:"></TD>
</TR>

</TABLE>  <!-- field table end -->
</TD> <!-- checkbox table Ist TD end -->
</TR> <!-- checkbox table Ist row end -->
</TABLE> <!-- checkbox table end -->
</TR> <!-- end of the  top table row -->
<TR>
<TD>
<BR>
</TD>
</TR>



