<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/update.gif" border="0" NAME="update">
<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
<INPUT TYPE="HIDDEN"  NAME="numentries" SIZE="-1" VALUE=":$numentries:">
<INPUT TYPE="IMAGE"  SRC="images/delete.gif" border="0" NAME="delete">
</CENTER>
</FORM>
<h5>You must click the Checkbox to the left of the entry, if you wish to update or delete the entry.</h5>
</BODY>
</HTML>

