<HTML>
<HEAD>
<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:">  -->
<BASE href="http://www.hotdiary.com/">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>
<!-- <BODY BACKGROUND="images/pad.gif"> -->
<BODY BGCOLOR=ffffff>
<CENTER>
<P><h3> :$label: </h3> 
</P>
</CENTER>
<FORM ACTION=":$actioncgi:" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded" NAME="post">
<INPUT TYPE="HIDDEN"  NAME="biscuit" SIZE="-1" VALUE=":$biscuit:">
<INPUT TYPE="HIDDEN"  NAME="to" SIZE="-1" VALUE=":$to:">
<INPUT TYPE="HIDDEN"  NAME="thispage" SIZE="-1" VALUE=":$thispage:">
<INPUT TYPE="HIDDEN"  NAME="pagertype" SIZE="-1" VALUE=":$pagertype:">

<CENTER>
<P><FONT SIZE="3" FACE="Verdana">Enter Message Here (max 180 characters)</FONT></P>
</CENTER>
<CENTER>
<P><TEXTAREA NAME="message" ROWS="10" COLS="45"></TEXTAREA>
</CENTER>

<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/send.gif" border="0" NAME="send">
<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
</CENTER>
</FORM>
</BODY>
</HTML>

