<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/leave.gif" border="0" NAME="leave">
<!--
<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
-->
<INPUT TYPE="HIDDEN"  NAME="numentries" SIZE="-1" VALUE=":$numentries:">
<!--
<INPUT TYPE="IMAGE"  SRC="images/delete.gif" border="0" NAME="delete">
-->
</CENTER>
</FORM>
<FONT FACE="Verdana" SIZE="2">
<DL>
<LI>You must click the checkbox to the left of the entry, if you wish to leave or delete a group.</LI>
<LI>You can only leave a group that you have subscribed to.</LI>
<LI>You cannot leave a group that you have founded or is your personal group.</LI>
<LI>You can only delete a group that you have founded or is your personal group.</LI>
</DL>
</FONT>
</BODY>
</HTML>

