<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execsearchgroupcal.cgi" METHOD="POST" :$formenc:>
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">My Downtown - B2B Planner</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<FONT FACE=Verdana SIZE=4>Business Directory (:$business:)</FONT><BR>
</CENTER>
<CENTER>
<TABLE WIDTH="90%" CELLPADDING=2 CELLSPACING=6>
<TR VALIGN=TOP>
<TD VALIGN=TOP><b><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execcustomerdir:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6"><FONT FACE=Verdana SIZE=3>Customers</FONT></a></b><BR><FONT FACE=Verdana SIZE=2>Customers Rolodex</FONT></TD>
<TD VALIGN=TOP><b><FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execresellersdir:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Resellers</a></FONT></b><BR><FONT FACE=Verdana SIZE=2>Resellers Rolodex...</TD>
<TD VALIGN=TOP><b><FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execmembersdir:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Employees</a></FONT></b><BR><FONT FACE=Verdana SIZE=2>Employee Rolodex...<BR>Invite employees to add contacts in employees directory</FONT></TD>
</TR>
<TR>
<TD VALIGN=TOP><b><FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execotherdir:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Other Contacts</a></FONT></b><BR><FONT FACE=Verdana SIZE=2>Other Contacts Rolodex ...</FONT></TD>
<TD VALIGN=TOP><b><FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execteamsdir:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Teams</a></FONT></b><BR><FONT FACE=Verdana SIZE=2>Teams Rolodex ...</FONT></TD>

<TD VALIGN=TOP><b><FONT FACE=Verdana SIZE=3><a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execaddbusinesscontact:&p1=biscuit&p2=business&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&business=:$business:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Add Contacts</a></FONT></b><BR><FONT FACE=Verdana SIZE=2>Add contacts to rolodex ...</FONT></TD>
</TD>
</TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
