<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/execaddceventtocal.cgi" METHOD="POST">

<CENTER>
<h2>Community Event</h2>
</CENTER>

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" BGCOLOR="ffffff" WIDTH="100%">

<TR BGCOLOR="ffffff" WIDTH="100%">

<TD WIDTH="10%">
&nbsp;
</TD>

<TD WIDTH="80%">

<TABLE BORDER="0" CELLPADDING="10" CELLSPACING="0" BGCOLOR="ffffff">

<TR>
<TD ALIGN=CENTER COLSPAN=2>
:$banner:
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Event Title</h3></FONT> 
</TD>
<TD COLSPAN="2" BGCOLOR="ffffff">
<FONT FACE=Verdana SIZE=3>:$subject:</FONT>
</TD>
</TR>

<TR BGCOLOR="ffffff" WIDTH="100%">
<TD VALIGN=TOP BGCOLOR="ffffff">
<FONT FACE="Verdana"><h3>Event Details</h3></FONT>
</TD>
<TD BGCOLOR="ffffff">
<FONT FACE=Verdana SIZE=3>:$desc:</FONT>
</TD>
</TR>

<TR> 
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Date</h3></FONT>
</TD>
<TD><FONT SIZE="3" FACE="Verdana">:$date:</FONT></TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Venue</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$venue:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff"> 
<FONT SIZE="3" FACE="Verdana"><h3>Street</h3></FONT> 
</TD>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">:$street:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>City</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$city:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>State</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$state:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Zipcode</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$zipcode:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff"> 
<FONT SIZE="3" FACE="Verdana"><h3>Country</h3></FONT> 
</TD>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana">:$country:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Contact</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$person:</FONT>
</TD>
</TR>

<TR>
<TD BGCOLOR="ffffff">
<FONT SIZE="3" FACE="Verdana"><h3>Phone</h3></FONT> 
</TD>
<TD>
<FONT SIZE="3" FACE="Verdana">:$phone:</FONT>
</TD>
</TR>

<!--
<TR>
<TD COLSPAN=2 ALIGN=CENTER>
<INPUT TYPE=submit NAME=add VALUE="Add To My Calendar">
</TD>
</TR>
-->

</TABLE>
</TD>

<TD WIDTH="10%">
&nbsp;
</TD>

</TR>
</TABLE>

</FORM>
</BODY>
</HTML>
