<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execdogeneric.cgi" METHOD="POST" :$formenc:>
:$hiddenvars:
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%">:$logo:</TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4"><b>:$label:</b></FONT><BR>
<FONT FACE="Verdana" SIZE="3">Virtual Business Communities</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<BR>

<TABLE BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="100%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>
<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT FACE="Verdana" SIZE="3">:$welcome: :$login:</FONT></TD>
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT FACE="Verdana" SIZE="3">
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execproxylogout:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Logout</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execshowtopcal:&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Home</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">What's New</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jintranetfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Features</a> -
<a href="/cgi-bin/:$rh:/execdogeneric.cgi?p0=:$execdeploypage:&p1=biscuit&p2=page&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Help</a>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<TABLE WIDTH="60%" CELLPADDING=0 CELLSPACING=5>
<TR VALIGN=TOP>
<TD COLSPAN=2 ALIGN=CENTER>
<FONT FACE=Verdana SIZE=4>Contact Details of :$ulogin:</FONT>
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>First Name</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=fname VALUE=":$fname:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Last Name</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=lname VALUE=":$lname:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Title</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=title VALUE=":$title:">
</TD>
</TR>


<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>SuiteNo (Other)</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=aptno VALUE=":$aptno:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Street</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=street VALUE=":$street:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>City
</TD>
<TD>
<INPUT TYPE=TEXT NAME=city VALUE=":$city:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>State
</TD>
<TD>
<INPUT TYPE=TEXT NAME=state VALUE=":$state:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>ZipCode
</TD>
<TD>
<INPUT TYPE=TEXT NAME=zipcode VALUE=":$zipcode:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Country
</TD>
<TD>
<INPUT TYPE=TEXT NAME=country VALUE=":$country:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Home Phone
</TD>
<TD>
<INPUT TYPE=TEXT NAME=hphone VALUE=":$hphone:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Business Name
</TD>
<TD>
<INPUT TYPE=TEXT NAME=busname VALUE=":$busname:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Business Phone
</TD>
<TD>
<INPUT TYPE=TEXT NAME=bphone VALUE=":$bphone:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Cell Phone
</TD>
<TD>
<INPUT TYPE=TEXT NAME=cphone VALUE=":$cphone:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>URL
</TD>
<TD>
<INPUT TYPE=TEXT NAME=url VALUE=":$url:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Email
</TD>
<TD>
<INPUT TYPE=TEXT NAME=email VALUE=":$email:">
</TD>
</TR>



<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Fax
</TD>
<TD>
<INPUT TYPE=TEXT NAME=fax VALUE=":$fax:">
</TD>
</TR>

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Pager
</TD>
<TD ALIGN=LEFT> <FONT SIZE="2">
<SELECT NAME=pagertype>
<OPTION SELECTED>:$pagertype:</OPTION>
<OPTION>SkyTel Pager</OPTION>
<OPTION>AirTouch Pager</OPTION>
<OPTION>Nextel Pager</OPTION>
<OPTION>PageMart Pager</OPTION>
<OPTION>Metrocall Pager</OPTION>
<OPTION>Other Pager</OPTION>
</SELECT>
</FONT>
<INPUT TYPE=TEXT NAME=pager VALUE=":$pager:">
</TD>
</TR>

<!--
<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Zone</FONT>
</TD>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=2>
<SELECT NAME=zone>
<OPTION VALUE=:$zone: SELECTED>:$zonestr:</OPTION>
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3B>Brazil</OPTION>
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</FONT>                                                                   
</TD>
</TR>
-->

<TR ALIGN=CENTER>
<TD ALIGN=LEFT>
<FONT FACE=Verdana SIZE=3>Other
</TD>
<TD>
<TEXTAREA NAME=other ROWS="5" COLS="30">:$other:</TEXTAREA> 
</TD>
</TR>

<TR ALIGN=CENTER>
<TD COLSPAN=2 ALIGN=CENTER>
<FONT FACE=Verdana SIZE=3><INPUT TYPE=SUBMIT NAME=save VALUE=Save></FONT>
</TD>
</TR>
</TABLE>
</CENTER>

</BODY>
</HTML>
