<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<meta name=keywords content="free, download, calendar, secure, ecommerce, e-commerce, publish, ISP, hosting, news, submit, press, release, promotion, service, public, provider, newsdiary, reminder, community, address, book, appointment, pager, fax, server, daily, monthly, weekly, yearly, vCalendar, vCard, chat, group, personal, organizer, contact, manager, english, word, list, memo, directory, to-do, planner, schedule, PIM, diary, business, cards, PDA, collaborate, event, meeting, self-populating, self-updating, virtual, communities">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
</HEAD>

<BODY BGCOLOR=ffffff>

<FORM ACTION="/cgi-bin/:$rh:/execsearchgroupcal.cgi" METHOD="POST" :$formenc:>
<FONT FACE="Verdana" SIZE="1">

<CENTER>
<TABLE WIDTH="100%">
<TR>
<TD ALIGN=LEFT WIDTH="15%"><a href="/inews.cgi?">:$logo:</a></TD>
<TD ALIGN=CENTER WIDTH="85%">
<CENTER>
<FONT FACE="Verdana" SIZE="4">NewsDiary Press Release</FONT>
</CENTER>
</TD>
<TD WIDTH="15%">
</TD>          
</TR>
</TABLE>
</CENTER>

<HR BGCOLOR=dddddd size=1>

<BR><BR>

<CENTER>
<FONT FACE=Verdana SIZE=4>
<a href="/inews.cgi?">News Home</a><BR><BR>
</FONT>
<FONT FACE=Verdana SIZE=3>
<a href="/">HotDiary</a> - <a href="/quikregister.html">QuikRegister</a> - <a href="/jiveitb2b.html">My Custom Portal</a> - <a href="/free_services.html">Free Services</a> - <a href="/contract.html">My Outsourcing</a><BR><BR>
</FONT>
</CENTER>

<CENTER>
<TABLE BORDER=2 BORDERCOLOR=246690 CELLSPACING=0 CELLPADDING=0 WIDTH="75%">
<TR BGCOLOR=246690 ALIGN=CENTER>
<TD WIDTH="100%">


<TABLE BORDER=1 BORDERCOLOR=246690 CELLSPACING=0 CELLPADDING=4 WIDTH="100%">
<TR BGCOLOR=246690>
<TD ALIGN=CENTER>
<h3><FONT COLOR=ffffff>:$title:</FONT></h3>
</TD>
</TR>
<TR BGCOLOR=ffffff>
<TD>
<FONT FACE=Verdana SIZE=3>
<p ALIGN=JUSTIFY>
:$text:
</p>
</FONT>
</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR>
<FONT FACE=Verdana SIZE=3>
<a href="http://www.hotdiary.com/news/:$link:.html" target=_main>Hard Copy Of Article For Search Engine Submissions</a>
</a>
<p>
<FONT FACE=Verdana SIZE=2>
<a href="http://www.hotdiary.com">Powered By HotDiary</a>
</FONT>

</CENTER>
</BODY>
</HTML>
