
<HTML>
<HEAD>
<!-- <META HTTP-EQUIV="expires" Content="Expires:$expiry:"> -->
<TITLE>HotDiary - Personal & Business Application Service Provider, Reminders Address Book Calendar Organizer PIM Memo To-Do Pager Fax Groups Planner Appointments Free</TITLE>
<BASE HREF="http://www.hotdiary.com/">
</HEAD>
<!-- <BODY BACKGROUND="images/pad.gif"> -->
<BODY BGCOLOR=ffffff>
<P><TABLE CELLSPACING="0" >
<TR><TD WIDTH="35%"><FONT SIZE="1"><i>Welcome :$login:</i></FONT></TD>
<TD WIDTH="85%" COLSPAN="2" ><B>:$label:</B><BR><FONT SIZE="2">:$label1:</FONT><BR><FONT SIZE="1">:$label2:</FONT></TD>
<TD ALIGN="RIGHT" WIDTH="15%"><a href="/cgi-bin/execdeploypage.cgi?biscuit=:$biscuit:&page=jhelp.html"><FONT SIZE="2" FACE="Verdana">Help</FONT></a></TD></TR></TABLE>
</P>



