<HTML>
<HEAD>
</HEAD>
<BODY BGCOLOR=ffffff>
<CENTER>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%">

<TR>

<TD WIDTH="15%">
<a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/newhdlogo.gif" BORDER=0></a>
</TD>

<TD WIDTH="85%" ALIGN=CENTER>
<h3>You Have A Business Team Reminder<IMG SRC="http://www.hotdiary.com/images/clock.gif" BORDER=0></h3>
</TD>
</TR>
</TABLE>

<HR>

</CENTER>

<IMG SRC="http://www.hotdiary.com/images/downtownlogo.jpg">

<CENTER>

:$banner:
<BR>
<TABLE CELLPADDING=0 CELLSPACING=0 BORDER=5 BORDERCOLOR="ff00ff" WIDTH="75%">

<TR>
<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Business Name</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE=3>:$busname: &nbsp;</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Team Name</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE=3>:$teamname: &nbsp;</FONT>
</TD>
</TR>

<TR>
<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Login</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE=3>:$login: &nbsp;</FONT>
</TD>
</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Your Email</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$email: &nbsp;</FONT>
</TD>

</TR>



<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Subject</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3><B>:$subject:</B> &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Type</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$eventtype: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Description</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3><B>:$description:</B> &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Time</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3><BLINK><B>:$time:</B></BLINK>&nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Frequency</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$frequency: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Time Zone</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$zone: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Duration</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$duration: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Share</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$share: &nbsp;</FONT>
</TD>

</TR>

<TR>

<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3>Busy</FONT>
</TD>

<TD>
<FONT FACE="Verdana" SIZE=3>:$busy: &nbsp;</FONT>
</TD>

</TR>

<!--
<TR>
<TD WIDTH="25%">
<FONT FACE="Verdana" SIZE=3 COLOR=gold>GoldReward</FONT>
</TD>
<TD>
<FONT FACE="Verdana" SIZE=3>:$reward: &nbsp;</FONT>
</TD>
</TR>
-->

</TABLE>

<p>
<a href=http://www.hotdiary.com/teltalk.html><IMG SRC="http://www.hotdiary.com/images/teltalk_new.gif" BORDER=0></a><FONT FACE=Verdana SIZE=3>Empower Yourself With HotDiary TelTalk Communications Service</FONT>

<p>
<HR>

</CENTER>

<p>
<FONT FACE=Verdana SIZE=3>
<a href="http://www.hotdiary.com">http://www.hotdiary.com</a>
<BR>
HotDiary - The New Generation Internet Organizer
</FONT>

<p>
<CENTER>
<a href="http://www.hotdiary.com"><IMG SRC="http://www.hotdiary.com/images/dotcombanner.gif" BORDER=0></a>
</CENTER>


<IMG SRC="http://www.hotdiary.com/cgi-bin/execremindureward.cgi?member=:$login:">

</BODY>
</HTML>
