


<TABLE BORDER="0" WIDTH="100%" CELLSPACING="0">
	
<TR>
<TD>

<CENTER>
<TABLE BORDER="6" CELLSPACING="0" CELLPADDING="0">

<TR>
<TD BGCOLOR="#FF0000"><FONT SIZE="3" FACE="Verdana">Login/ID*</FONT></TD>
<TD BGCOLOR="#FF0000"><INPUT TYPE="TEXT" NAME="login" VALUE=":$login:" SIZE="20" MAXLENGTH="20"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Password*</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="PASSWORD" NAME="password" VALUE=":$password:" SIZE="20" MAXLENGTH="20"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Repeat Password*</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="PASSWORD" NAME="rpassword" VALUE=":$rpassword:" SIZE="20" MAXLENGTH="20"></TD>
</TR>

<TR>
<TD BGCOLOR="#FF8888"><FONT SIZE="3" FACE="Verdana">Make ID Public</FONT><BR>
<FONT SIZE="2">Click here if you want<BR>
to allow other members<BR>
to add your contact to their<BR>
address book.</FONT></TD>
<TD BGCOLOR="#FF8888"> <INPUT TYPE="CHECKBOX" NAME="checkid" :$checkid:> </TD>
</TR>

<TR>
<TD BGCOLOR="#FF8888"><FONT SIZE="3" FACE="Verdana">Publish Calendar on Web</FONT><BR>
<FONT SIZE="2">Click here if you want<BR>
to publish your calendar<BR>
on the internet. <BR> 
</FONT></TD>
<TD BGCOLOR="#FF8888"> <INPUT TYPE="CHECKBOX" NAME="calpublish" :$calpublish:> </TD>
</TR>                                                                         

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Email*</TD></FONT>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="email" VALUE=":$email:" SIZE="20" MAXLENGTH="64"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">First Name*</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="fname" VALUE=":$fname:" SIZE="20" MAXLENGTH="20"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Last Name</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="lname" VALUE=":$lname:" SIZE="20" MAXLENGTH="20"></TD>
</TR>

</TABLE>

</CENTER>

</TD>
</TR>

<TR>
<TD>
<BR><BR><BR>
</TD>
</TR>

<TR>
<TD>

<TR>
<TD>

<CENTER>
<TABLE BORDER="6" CELLSPACING="0" CELLPADDING="0">
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Street Address</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="street" VALUE=":$street:" SIZE="20" MAXLENGTH="50"></TD>
</TR>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">City</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="city" VALUE=":$city:" SIZE="20" MAXLENGTH="20"></TD>
</TR>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">State</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="state" VALUE=":$state:" SIZE="10" MAXLENGTH="10"></TD>
</TR>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Zipcode</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="zipcode" VALUE=":$zipcode:" SIZE="10" MAXLENGTH="10"></TD>
</TR>
<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Country</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="country"  VALUE=":$country:" SIZE="10" MAXLENGTH="10"></TD>
</TR>
</TABLE>
</CENTER>

</TD>
</TR>

<TR>
<TD>
<BR><BR><BR>
</TD>
</TR>

<TR>
<TD>

<CENTER>
<TABLE BORDER="6" CELLSPACING="0" CELLPADDING="0">

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Phone</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="phone" VALUE=":$phone:" SIZE="20" MAXLENGTH="32"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"> <FONT SIZE="2">
<SELECT NAME=pagertype>
<OPTION><FONT FACE="Verdana"><FONT SIZE="1">:$pagertype:</FONT></OPTION>
<OPTION><FONT FACE="Verdana"><FONT SIZE="1">SkyTel Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">AirTouch Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">Nextel Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">PageMart Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">Metrocall Pager</FONT></OPTION>
<OPTION><FONT FACE="Verdana">Other Pager</FONT></OPTION>
</SELECT>
</FONT>
</TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="pager" VALUE=":$pager:" SIZE="20" MAXLENGTH="32"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Fax</FONT></TD>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="fax" VALUE=":$fax:"  SIZE="20" MAXLENGTH="32"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Cell Phone</TD></FONT>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="cellp"  VALUE=":$cellp:" SIZE="20" MAXLENGTH="32"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Bus. Phone</TD></FONT>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="busp"  VALUE=":$busp:" SIZE="20" MAXLENGTH="32"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">URL</TD></FONT>
<TD BGCOLOR="#66FFFF"><INPUT TYPE="TEXT" NAME="url" VALUE=":$url:" SIZE="20" MAXLENGTH="64"></TD>
</TR>

<TR>
<TD BGCOLOR="#66FFFF"><FONT SIZE="3" FACE="Verdana">Time Zone</TD></FONT>
<TD BGCOLOR="#66FFFF"><FONT SIZE="2"><SELECT NAME=zone>
<OPTION VALUE=:$zone: SELECTED>:$zonestr:</OPTION>
<OPTION VALUE=-12>Dateline</OPTION>
<OPTION VALUE=-11>Samoa</OPTION>
<OPTION VALUE=-10>Hawaiian</OPTION>
<OPTION VALUE=-9>Alaskan</OPTION>
<OPTION VALUE=-8 SELECTED>Pacific</OPTION>
<OPTION VALUE=-7>Mountain</OPTION>
<OPTION VALUE=-6>Central</OPTION>
<OPTION VALUE=-5>Eastern</OPTION>
<OPTION VALUE=-4>Atlantic</OPTION>
<OPTION VALUE=-3.5>Newfoundland</OPTION>
<OPTION VALUE=-3B>Brazil</OPTION>    
<OPTION VALUE=-3A>Argentina</OPTION>
<OPTION VALUE=-2>Mid-Atlantic</OPTION>
<OPTION VALUE=-1>Azores</OPTION>
<OPTION VALUE=0>GMT</OPTION>
<OPTION VALUE=1>W.Europe</OPTION>
<OPTION VALUE=2>E.Europe</OPTION>
<OPTION VALUE=3R>Russia</OPTION>
<OPTION VALUE=3S>Saudi Arabia</OPTION>
<OPTION VALUE=3.5>Iran</OPTION>
<OPTION VALUE=4>Arabian</OPTION>
<OPTION VALUE=5>W.Asia</OPTION>        
<OPTION VALUE=5.5>India</OPTION>
<OPTION VALUE=6>C.Asia</OPTION>
<OPTION VALUE=7>Thailand</OPTION>
<OPTION VALUE=7V>Vietnam</OPTION>
<OPTION VALUE=7I>Indonesia</OPTION>
<OPTION VALUE=8C>China</OPTION>
<OPTION VALUE=8S>Singapore</OPTION>
<OPTION VALUE=8T>Taiwan</OPTION>
<OPTION VALUE=9J>Japan</OPTION>
<OPTION VALUE=9K>Korea</OPTION>
<OPTION VALUE=9.5>C.Australia</OPTION>   
<OPTION VALUE=10>E.Australia</OPTION>
<OPTION VALUE=12F>Fiji</OPTION>
<OPTION VALUE=12N>New Zealand</OPTION>
</SELECT>
</FONT>
</TD>
</TR>   

</TABLE>
</CENTER>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<!-- <BR><BR><BR> -->
<Br><BR><BR>
<LEFT>
<INPUT TYPE="CHECKBOX" NAME="informme" :$checkboxfield:>Check here if you would like to receive important email updates from HotDiary.
</LEFT>
</CENTER>

<!-- search page footer -->

<CENTER>

<P><INPUT TYPE=submit NAME=update VALUE=Update>  

<SPACER TYPE="HORIZONTAL" SIZE="30"><SPACER TYPE="HORIZONTAL" SIZE="30"> 
<SPACER TYPE="HORIZONTAL" SIZE="30">
</CENTER>
