<!-- 

(C) Copyright 1997-2000 HotDiary Inc.

 This software is confidential copyrighted information of HotDiary and
 title to all copies is retained by HotDiary and/or its licensors.
 Licensee shall not modify, decompile, disassemble, decrypt, extract,
 or otherwise. This software may not be leased, assigned, or sublicensed,
 in whole or in part.

Information Common To All Templates

- If you are viewing this page using the View Source utility
of the browser, you will see information for a specific session
as opposed to the generic template. So this may not be the
best way to view the template. We suggest that you download
the template using JiveIt! admin utility.

- Please download this template on a regular basis to make sure
you have taken advantage of new applications that HotDiary
introduces on a regular basis.

- You can customize this template to add your own structure
and look n feel. These could include your own images, layout,
style, fonts, color, java script, java, or even custom links. You 
can pass HotDiary variables as parameters to your custom links. 
This may help you to build seemless extensions to HotDiary and blend it 
more easily into your functional environment.

- After you are done with customization, you can upload the
template using the Admin link on your JiveIt! site. After you
login into your admin account as an administrator, click the
upload template link to upload the template. (For those of you
who have customized the JiveIt Home template, make sure you
preserve the Admin link. This will help you to administer
your JiveIt! site more easily.)

- Be careful with our link tags and parameters! As long as you
keep those unharmed, you can move things around and design
it using your favorite HTML authoring tool

- All hotdiary variables are in the format :$var:, where var is
the variable.

Welcome To The Application Home Template. (Last Updated: Mar. 23, 2000)

- This template is used when a user logs-in to the system and
is the very first page displayed. This page can be considered
the launching pad for all applications.

- Application Variables supported in this template:

     Application Variables:
     
     These variables can be used freely inside your custom links.
     Their values will directly affect how your site looks and behaves.

        label	- Organization Title
        biscuit - Session Cookie
        logo    - Organization Logo
        welcome - Welcome String
        login   - Member Login Name
	jp      - JiveIt! Login
	rh      - CGI Subdir (Internal)
	hs      - HTTP Subdir (Internal)
	vdomain - Domain Name (Internal)
	HDLIC   - HDLIC (Internal)

     The last 4 variables in the above list are internal variables. You
     do not need them, but we do! So all you have to do is pass them 
     to your link so you can pass it back to us when needed, in order
     to provide a non-erroneous transition from external applications
     back to HotDiary.

     For instance, if you have implemented a stock application that you
     would like to hook into HotDiary, you can add a custom link 
     in this page, that looks similar to:

     <a href="http://www.mygreatportal.com/cgi-bin/check_my_portfolio.cgi?login=:$login:&biscuit=:$biscuit:&jp=:$jp:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&HDLIC=:$HDLIC:>Check My Portfolio</a>

     Here, we assume that your domain is called www.mygreatportal.com, and
     you have implemented a CGI program by the name of check_my_portfolio.cgi.
     This script accepts the member login and session cookie as inputs. Based
     on the member login, it could process the portfolio. In order to 
     pass the control back to the HotDiary session, you can use the biscuit
     as the session cookie as follows by providing a link back to:

     <a href="http://www.1800calendar.com/jsp/$rh/execdogeneric.jsp?p0=ZXhlY3Nob3d0b3BjYWwuY2dp&p1=biscuit&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=$HDLIC&biscuit=$biscuit&rh=$rh&hs=$hs&vdomain=$vdomain&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Back To MyOrganizer</a>

     There are additional internal variables that we have not documented here.
     Do not use or modify these variables. Some of them have no 
     relevance to anyone except HotDiary, and are purely used 
     internally by HotDiary.  We want you to know that their existence 
     on this page is crucial for the applications to work correctly.
     
-->


<HTML>
<HEAD>
:$css:
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<!-- cookie is set here -->

<META HTTP-EQUIV="Set-Cookie" CONTENT="biscuit=:$biscuit:; :$expirytime:">
<META HTTP-EQUIV="Set-Cookie" CONTENT=":$cracker:; :$expirytime:">

<!-- Your page title goes here. Change it as you wish! -->
<!-- The label tag is the title that comes from JiveIt! title properties. -->

<TITLE>:$label: - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<!--
<SCRIPT LANGUAGE=JavaScript>
 alert("Notice To All Members: HotDiary.com servers will be down anytime between Sep 20 - Sep 30, 2002. The server will go through a transfer of location and routine upgrade. All member data should be safe, however it may be inaccessible during this period. Please make sure you take printouts of your data or copy it to your local computer, if you need it more urgently. This outage will affect reminder engines and JiveIt! portal users. For more information, please contact us.");
</SCRIPT>
-->

</HEAD>

<BODY BGCOLOR=ffffff>

:$sessionheader:

<!--
<FONT SIZE="1">
-->

:$theader:

<!-- Your company logo goes here. Use any html compatible snippet. It comes from your JiveIt! properties -->
:$logo:

:$tmiddle:

<!-- Your company title goes here. Use any html compatible snippet. Use It comes from your JiveIt! properties -->
:$label:

:$tfooter:


<BR>

<TABLE ALIGN=CENTER BORDER="1" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="2" WIDTH="97%">
<TR>
<TD>

<TABLE BORDER="0" BGCOLOR=dddddd CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
<TR BGCOLOR=dddddd>

<!-- Customize your welcome string. login is your member login. This is
     powerful and can be passed around to custom links if you wish. -->

<TD BGCOLOR=dddddd ALIGN="LEFT"><FONT SIZE="2">:$welcome: :$login:</FONT></TD>

<TD BGCOLOR=dddddd ALIGN="RIGHT"><FONT SIZE="2">

<!-- A couple of comments before we continue. We use a variable called
     biscuit (another word for cookie) to track your session. You can
     place custom links in this page, and pass the biscuit around.
     This is useful if you would like to pass the control back to this
     page, this way it continues the session -->

<!-- Another comment. You could comment applications and links that you
     don't need depending on your level of expertise. But make sure, you 
     know what that means. We do recommend
     you to preserve all the links, and only change the structure of
     the page. This way your visitors do not lose functionality. -->

<!-- This is the link to the logout program. It logs you out of the session
     gracefully and does all the book-keeping for you. -->
     
<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execproxylogout:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" title="Sign Out from HotDiary">Sign Out</a> -

<!-- This is the link to "My Profile" -->
<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execshowprofile:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" title="My Profile Settings">:$profile:</a> -    

<!-- This is the link to "My Cal. Settings" -->
<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execcalpreferences:&p1=biscuit&p2=f&p3=jp&p4=fp&p5=owner&p6=fuser&p7=flg&p8=framedomain&fuser=&owner=&fp=&pnum=9&framedomain=:$framedomain:&flg=:$flg:&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" black" title="My Calendar Settings">Cal Settings</a> - 
<!-- <BR><FONT SIZE=2>Calendar Preferences</FONT>  -->

<!-- This is the link to the Whats New section. It is recommended that you
     have this for the benefit of your visitors, but is not mandatory -->

<!--
<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jwhatsnew.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" title="Show New Features">What's New</a> -
-->

<!-- This is the link to the Features section. It is recommended that you
     have this for the benefit of your visitors, but is not mandatory -->

<!--
<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jfeatures.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" title="HotDiary Features">Features</a> -
-->

<!-- This is the link to the Help section. It is recommended that you
     have this for the benefit of your visitors, but is not mandatory -->

<a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execdeploypage:&p1=biscuit&p2=page&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&jp=:$jp:&page=jhelp.html&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" title="Help">Help</a>

</TD>
</TR>
</TABLE>

</TD>
</TR>
</TABLE>

<BR><BR>

<CENTER>
<TABLE WIDTH="90%" CELLPADDING=2 CELLSPACING=6>
<TR VALIGN=TOP>

<!-- This is the link to "My Calendar". -->

<TD VALIGN=TOP><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execcalclient:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6"><FONT SIZE=2><b>My Calendar</b></FONT></a><BR><FONT color=white SIZE=2>Personal Calendar...</FONT></TD>

<!-- This is the link to "Contact Manager" -->
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execpersonaldir:&p1=biscuit&p2=f&p3=letter&p4=all&p5=jp&pnum=6&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&le5=HTTP_COOKIE&re5=HTTP_COOKIE&enum=6">:$address:</a></b></FONT><BR><FONT color=white SIZE=2>:$addresstxt:</FONT></TD> 


<!-- Memo Manager link -->
<TD VALIGN=TOP><FONT SIZE=2> :$memo: </FONT>
<FONT color=white SIZE=2>:$memotxt:</FONT>
</TD>
</TR>
<TR>

<!-- This is the link to "Create Groups" (Now Groupware) -->

<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execgroupcal:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=sgc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Groupware</a></b></FONT><BR><FONT color=white SIZE=2>My Groups</TD>

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execgroupcal:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=cpc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Create Groups</a></b></FONT><BR><FONT SIZE=2>Groups, Calendars,<BR>Chat Rooms, Notes...</FONT></TD>
-->

<!-- This is the link to "Search Groups" (Now DiaryPad) -->

<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execnotes:&p1=biscuit&p2=f&p3=letter&p4=all&p5=jp&pnum=6&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$notes:</a></b></FONT><br><FONT color=white SIZE=2>Simple Notes</FONT></TD>

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execgroupcal:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=sgc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Search Groups</a></b></FONT><BR><FONT SIZE=2>Groups, Calendars<BR>Chat Rooms, Notes...</TD>
-->

<!-- This is the link to "Manage Groups"  (DiaryBoard) -->

<TD><FONT color=white SIZE=2> :$bboard: </FONT></TD>

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execgroupcal:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">Manage Groups</b></a></FONT><BR><FONT SIZE=2>Groups, Calendars<BR>Chat Rooms, Notes...</FONT></TD>
-->

</TR>
<TR>

<!-- This is the link to "Edit Other's Calendar" -->

<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execothermemberui:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$othercalendar:</a></b></FONT><BR><FONT color=white SIZE=2>:$othercalendartxt:</FONT></TD>


<!-- This is the link to "Party Planner" -->

<TD VALIGN=TOP><TABLE CELLSPACING=0 CELLPADDING=0><TR><TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execpartyplanner:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$partyplanner:</a></b></FONT><BR><FONT color=white SIZE=2>:$partyplannertxt:</TD><!-- <TD VALIGN=TOP><IMG SRC="http://www.hotdiary.com/images/balloon4.gif" WIDTH=25 HEIGHT=35 BORDER=0></FONT></TD> --></TR></TABLE><!-- <IMG SRC="/images/balloon4.gif" WIDTH=30 HEIGHT=50 BORDER=0> --></TD> 

<!-- This is the link to Redbasin.com -->
<!--
<TD VALIGN=TOP><FONT SIZE=2>
<b>
<a href="http://www.hotdiary.com/cgi-bin/execreferlink.cgi?url=http://www.hotdiary.com:8080/bizware/class103" target=_parent>My E-Business</a>
</b>
</FONT><BR><FONT SIZE=2>Redbasin Networks</FONT></TD>
-->

<!-- This is the link to "Diary Pad" (My CarryOn) -->

<TD><font size=2><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execfilebrowser:&p1=biscuit&p2=f&p3=jp&p4=fp&p5=owner&p6=fuser&p7=flg&p8=framedomain&fuser=&owner=&fp=&pnum=9&framedomain=:$framedomain:&flg=:$flg:&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6"><B>My CarryOn</B></a><BR><FONT color=white SIZE=2>:$carryontxt:</FONT> </font></TD>

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execnotes:&p1=biscuit&p2=f&p3=letter&p4=all&p5=jp&pnum=6&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$notes:</a></b></FONT><br><FONT SIZE=2>Simple Notes</FONT></TD>
-->

</TR>

<!-- This is the link to "My Profile" -->
<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execshowprofile:&p1=biscuit&p2=f&pnum=3&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$profile:</a></b></FONT><BR><FONT SIZE=2>:$profiletxt:</FONT></TD>   
-->

<!-- This is the link to "Commerce Portal" -->

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execshowcommerceportal:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" :$maintarget:>:$comportal:</a></b></FONT><BR><FONT SIZE=2>:$comportaltxt:</FONT>
&nbsp;
</TD>
-->


<!-- This is the link to "My Cal. Settings" -->

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execcalpreferences:&p1=biscuit&p2=f&p3=jp&p4=fp&p5=owner&p6=fuser&p7=flg&p8=framedomain&fuser=&owner=&fp=&pnum=9&framedomain=:$framedomain:&flg=:$flg:&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">My Cal. Settings</a></b></FONT><BR><FONT SIZE=2>Calendar Preferences</FONT></TD> 
-->


<TR>

<!-- This is the link to "Diary Pad" -->
<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execnotes:&p1=biscuit&p2=f&p3=letter&p4=all&p5=jp&pnum=6&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$notes:</a></b></FONT><BR><FONT SIZE=2>:$notestxt:</FONT>
</TD>
-->

<!-- This is the link to "Diary Mail" -->
<!--
<TD VALIGN=TOP><FONT SIZE=2 COLOR=0000ff><b>DiaryMail</b></FONT><BR><FONT SIZE=2>Integrated Mailbox...</FONT>
</TD>
-->
</TR>

<!--
<TR>
-->

<!-- This is the link to "Diary Chat" -->
<!--
<TD VALIGN=TOP><FONT SIZE=2 COLOR=0000ff><b>DiaryChat</b></FONT><BR><FONT SIZE=2>Lots Of It...</FONT>
</TD>
-->

<!-- This is the link to "Bulletin Board" -->

<!--
<TD VALIGN=TOP><FONT SIZE=2 COLOR=0000ff><b>Bulletin Board</b></FONT><BR><FONT SIZE=2>Be A Digital Scribe...</FONT>
</TD>
-->

<!-- This is the link to "Instant Messaging" -->

<!--
<TD VALIGN=TOP><FONT SIZE=2 COLOR=0000ff><b>Instant Messaging</b></FONT><BR><FONT SIZE=2>A Cute Pocket Communicator...</FONT>
</TR>
-->

<TR>

<!-- This is the link to "Diary Mail" -->
<!--
<TD VALIGN=TOP><FONT SIZE=2 COLOR=0000ff><b>DiaryMail</b></FONT><BR><FONT SIZE=2>Integrated Mailbox...</FONT>
</TD>
-->

<!-- This is the link to "Diary Toolbox". This feature is not supported
     in JiveIt! We recommend that you comment it out. -->

<TD VALIGN=TOP><FONT SIZE=2><b><a href="http://:$vdomain:/rep/:$indexlogin:/:$login:/d:$biscuit:.html">:$hdbuttontools:</a></b></FONT><BR><FONT color=white SIZE=2>:$hdbuttontext:</FONT><!-- <BR><FONT SIZE=1>Matt Wright - <a href="mailto:mattw@worldwidemart.com">mattw@worldwidemart.com</a>
<BR>© 1995 - 1998 Matt's Script Archive, Inc.
</FONT> --></TD>

<!-- This is the link to "Diary Chat" -->

<TD VALIGN=TOP><FONT color=white SIZE=2> :$diarychat: &nbsp; </FONT> </TD>

<!-- This is the link to "More" -->
<TD VALIGN=TOP>
<!--
<FONT SIZE=1 COLOR=white><B>More</B></FONT><BR>
-->
<!--
<FONT SIZE=2><b>
<a href="http://www.hotdiary.com/cgi-bin/execreferlink.cgi?url=http://www.hotdiary.com:8080/bizware/class103" target=_parent>My E-Business</a></b></FONT>,
-->
<!-- This is the link to "My Downtown". -->
<FONT color=white SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execbusiness:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">My Downtown</a></b></FONT><BR><font color=white size=2>Scheduling</font>
<!-- This is the link to "My Rewards" -->
<!--
<FONT SIZE=1><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execrewards:&p1=biscuit&p2=f&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$rewards:</a></b></FONT>
-->

<!-- <BR><FONT SIZE=1>:$rewardstxt:</FONT> -->
</TD> 
<!-- Completed "More" -->

<!--
<TD><FONT SIZE=2> :$bboard: </FONT></TD>
-->

<!--
<TD VALIGN=TOP>
<FONT SIZE=2>
:$grouppublish:
</FONT>
</TD>
-->
<!-- This is the link to "Commerce Portal" -->

<!--
<TD VALIGN=TOP><FONT SIZE=2><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execshowcommerceportal:&p1=biscuit&p2=jp&pnum=3&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6" :$maintarget:>:$comportal:</a></b></FONT><BR><FONT SIZE=2>:$comportaltxt:</FONT>
&nbsp;
</TD>
-->

</TR>


<!--
<TR>
-->

<!-- This is the link to "My CarryOn" -->
<!--
<TD><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execfilebrowser:&p1=biscuit&p2=f&p3=jp&p4=fp&p5=owner&p6=fuser&p7=flg&p8=framedomain&fuser=&owner=&fp=&pnum=9&framedomain=:$framedomain:&flg=:$flg:&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6"><B>My CarryOn</B></a><BR><FONT SIZE=2>:$carryontxt:</FONT> </TD>
-->


<!-- This is the link to "More" -->
<!--
<TD VALIGN=TOP>
<FONT SIZE=2 COLOR=BLUE><B>More</B></FONT><BR>
-->

<!-- This is the link to "Diary Pad" -->
<!--
<FONT SIZE=1><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execnotes:&p1=biscuit&p2=f&p3=letter&p4=all&p5=jp&pnum=6&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&letter=&all=&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$notes:</a></b></FONT>, 
-->

<!--
<FONT SIZE=1><b>
<a href="http://www.hotdiary.com/cgi-bin/execreferlink.cgi?url=http://www.hotdiary.com:8080/bizware/class103" target=_parent>My E-Business</a></b></FONT>,
-->


<!-- This is the link to "My Downtown". -->
<!--
<FONT SIZE=1><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execbusiness:&p1=biscuit&p2=f&p3=jp&pnum=4&jp=:$jp:&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">My Downtown</a></b></FONT>, <BR>
-->
<!-- <BR><FONT SIZE=2>B2B Planner, Vertical <BR>Markets...</FONT> -->

<!-- This is the link to "My Rewards" -->
<!--
<FONT SIZE=1><b><a href="/jsp/:$rh:/execdogeneric.jsp?p0=:$execrewards:&p1=biscuit&p2=f&p3=jp&pnum=4&re0=CGISUBDIR&le0=rh&re1=HTTPSUBDIR&le1=hs&re2=SERVER_NAME&le2=vdomain&re3=HDLIC&le3=HDLIC&HDLIC=:$HDLIC:&jp=:$jp:&biscuit=:$biscuit:&f=mc&rh=:$rh:&hs=:$hs:&vdomain=:$vdomain:&le4=os&re4=os&re5=HTTP_COOKIE&le5=HTTP_COOKIE&enum=6">:$rewards:</a></b></FONT>
-->
<!-- <BR><FONT SIZE=1>:$rewardstxt:</FONT> -->
</TD> 
<!-- Completed "More" -->

<!--
</TR>
-->


</TABLE>
<p>:$usermsg:
<p>
<!--
<a href="http://www.hotdiary.com/" target=_main><IMG SRC="http://www.hotdiary.com/cgi-bin/execrandomwhitead.cgi?jp=:$jp:" BORDER=0></a>
-->

<!--
<a href=http://www.hotdiary.com/cgi-bin/adbanner/execshowsite?member=hotdiary&page=56 target=_main><IMG SRC="http://www.hotdiary.com/cgi-bin/adbanner/execshowbanner?member=hotdiary&page=56" BORDER=0></a>
-->
<!--
<a href="http://www.websitesponsors.com/cgi-bin/2000/click?h=hotdiary&t=468&n=001"><img src="http://www.websitesponsors.com/2000/image.php3?h=hotdiary&t=468&n=001" width=468 height=60 alt="Please Support Our Sponsor" border=0></a>
-->


</CENTER>

:$sessionfooter:

</BODY>
</HTML>
