<!-- search page footer -->
<CENTER>
<P><INPUT TYPE="IMAGE"  SRC="images/join.gif" border="0" NAME="join">
<INPUT TYPE="HIDDEN"  NAME="numentries" SIZE="-1" VALUE=":$numentries:">
</CENTER>
</FORM>
<FONT FACE="Verdana" SIZE="2">
<DL>
<LI>You must click the checkbox to the left of the entry, if you wish to leave or delete a group.</LI>
<LI>You can only join a group that that you have not already joined.</LI>
<LI>You need not (and cannot) join group that you have founded or is your personal group.</LI>
</DL>
</FONT>

</BODY>
</HTML>

