<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>HotDiary - A Dynamic Business Web Services Company, Customizable Portal Tools, Free Web Organizer, Planner, Groups, Reminders, Memo, B2B Scheduler, Chat, To-Do, BBS, Pager, And Fax.</TITLE>
<meta name=keywords content="free, download, calendar, secure, ecommerce, e-commerce, publish, ISP, hosting, news, submit, press, release, promotion, service, public, provider, reminder, community, address, book, appointment, pager, fax, server, daily, monthly, weekly, yearly, vCalendar, vCard, chat, group, personal, organizer, contact, manager, english, word, list, memo, directory, to-do, planner, schedule, PIM, diary, business, cards, PDA, collaborate, event, meeting, self-populating, self-updating, virtual, communities">
<meta http-equiv=Content-language content=en-US>
<meta name=robots content="index, follow">
<meta name=revisit-after content="10 days">
</HEAD>

<BODY BGCOLOR=ffffff>

<CENTER>
<TABLE WIDTH="80%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR>

<TD>
<IMG SRC="/images/topoffice.gif" ISMAP USEMAP="#officemap" BORDER=0>
</TD>

</TR>

<TR>
<TD>
<FONT FACE=Verdana SIZE=2>
<a href="/">Home</a> - <a href="/quikregister.html">QuikRegister</a> - <a href="/links.html">Link Us</a> - <a href="http://63.194.208.213:8080/bizware/hotdiary/wspell.jsp">Spell Checker</a> - <a href="/free_services.html">Free Services</a><BR></FONT> </TD>
</TR>

<TR><TD>&nbsp;</TD></TR>

<TR>
<TD>

<FORM ACTION="/cgi-bin/execworddownload.cgi" METHOD="POST">
<TABLE WIDTH="82%" BORDER=0 BGCOLOR=000000 CELLPADDING=1 CELLSPACING=0>
<TR><TD>
<TABLE WIDTH="100%" BORDER=0 BGCOLOR=ffffff CELLPADDING=0 CELLSPACING=0>


<TR>
<TD WIDTH="82%">

<TR><TD COLSPAN=2>&nbsp;</TD></TR>

<TR ALIGN=CENTER>
<TD COLSPAN=2>
<FONT FACE=Verdana SIZE=2 COLOR=3498ee>
Login With Your ID To Download WordIt! Now
</FONT>
</TD>
</TR>

<TR>
<TD ALIGN=LEFT> <FONT FACE=Verdana>
Member Login&nbsp;<BR>(<a href="/quikregister.html"><FONT SIZE=1>Don't Have One?</FONT></a>)
</FONT>
</TD>
<TD>
<INPUT TYPE=TEXT NAME=login SIZE=20>
</TD>
</TR>
<TR>
<TD ALIGN=LEFT><FONT FACE=Verdana>
<a href=/forgotpasswd.html>Member Password</a>
</FONT>
</TD>
<TD><FONT FACE=Verdana> 
<INPUT TYPE=PASSWORD NAME=password SIZE=20>
</FONT>
</TD>
</TR>
<TR>
<TD COLSPAN=2 ALIGN=CENTER>
<INPUT TYPE=CHECKBOX NAME=copyright>&nbsp;<a href=/words/COPYRIGHT target=_main><FONT FACE=Verdana SIZE=1>By Checking This Box, I Accept License</FONT></a>
</TD>
</TR>
<TR>
<TD COLSPAN=2 ALIGN=CENTER>
<INPUT TYPE=submit NAME=submit VALUE="Proceed To Download">
</TD>
</TR>
<TR><TD COLSPAN=2 ALIGN=CENTER><FONT FACE=Verdana SIZE=2>Good News! No <a href=/activateacc.shtml>Account Activation</a> Required!</FONT></TD></TR>
<TR><TD COLSPAN=2 ALIGN=CENTER>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 ALIGN=CENTER><FONT FACE=Verdana SIZE=2><a href=/words/COPYRIGHT>WordIt! License</a></FONT></TD></TR>

<TR><TD COLSPAN=2>&nbsp;</TD></TR>

</TD>
</TR>
</TABLE>
</TD></TR></TABLE>
</FORM>

</TD>
</TR>

</TABLE>

</CENTER>

<MAP name="officemap">
<AREA SHAPE=RECT COORDS="9,10 56,39" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="158,7 254,37" href="/index.html" ALT="Go To HotDiary Home">
<AREA SHAPE=RECT COORDS="351,53 423,82" href="/signin.html" ALT="Login To HotDiary">
<AREA SHAPE=RECT COORDS="19,39 323,102" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="20,105 209,163" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="215,162 323,177" href="/memocal.html" ALT="Personal, Group Secure Calendars">
<AREA SHAPE=RECT COORDS="210,103 489,160" href="/calendar_server.html" ALT="JazzIt! Calendar Management Tools">
<AREA SHAPE=RECT COORDS="6,164 213,178" href="/privateintranets.html" ALT="JazzIt! Calendar Management Tools">
<AREA SHAPE=RECT COORDS="7,180 171,278" href="/privateintranets.html" ALT="Private Intranets, Business Communities & More">
<AREA SHAPE=RECT COORDS="175,204 221,280" href="/privateintranets.html" ALT="Private Intranets, Business Communities & More">
<AREA SHAPE=RECT COORDS="174,177 357,205" href="/jiveit_website.html" ALT="JiveIt! Site Builder">
<AREA SHAPE=RECT COORDS="233,237 353,259" href="/quikregister.html" ALT="Enter Your Email & Register">
<AREA SHAPE=RECT COORDS="369,180 496,298" href="/partner_with_us.html" ALT="Partnership Alliances">
</MAP>

</BODY>
</HTML>
